        <div class="row">
            <div class="col-md-12 logItem">
                <div class="row">
                    <div class="col-md-1"><div class="bg-success testStatusResultBlock"><span class="glyphicon glyphicon-ok-sign"></span></div></div>
                    <div class="col-md-3">
                        <!-- image view -->
                        <img src="<%- item.img %>" alt="" class="img-responsive center-block imagePreview" />
                    </div>
                    <div class="col-md-8">
                        <% if (item.src) { %>
                            <%= FAPI_UI.logTemplates.SOURCE({item: item}) %>
                        <% } %>
                        <% if (item.msg) { %>
                            <%= FAPI_UI.logTemplates.MESSAGE({item: item}) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
