        <div class="upload-item logItem">
            <span class="upload-item__status upload-item__status--uploaded" aria-hidden="true">
                <cts-icon name="circle-check"></cts-icon>
            </span>
            <img src="<%- item.img %>" alt="" class="upload-item__thumb imagePreview" />
            <div class="upload-item__body">
                <% if (item.src) { %>
                    <div class="upload-item__source"><%= FAPI_UI.logTemplates.SOURCE({item: item}) %></div>
                <% } %>
                <% if (item.msg) { %>
                    <%= FAPI_UI.logTemplates.MESSAGE({item: item}) %>
                <% } %>
            </div>
        </div>
