            <cts-icon name="copy" class="log-http"> <% if (http == 'request') { %> <span class="log-http-badge"><cts-icon name="arrow-right-md"></cts-icon> REQUEST</span> <span class="log-http-curl" onclick="copyRequestAsCurl(event)" title="Generate cURL command for request" role="button">&nbsp;cURL</span>
                <% } else if (http == 'response') { %>
                    <span class="log-http-badge"><cts-icon name="arrow-left-md"></cts-icon> RESPONSE</span>
                <% } else if (http == 'incoming') { %>
                    <span class="log-http-badge"><cts-icon name="arrow-down-md"></cts-icon> INCOMING</span>
                <% } else if (http == 'outgoing') { %>
                    <span class="log-http-badge"><cts-icon name="arrow-up-md"></cts-icon> OUTGOING</span>
                <% } else if (http == 'redirect') { %>
                    <span class="log-http-badge"><cts-icon name="paper-plane"></cts-icon> REDIRECT</span>
                <% } else if (http == 'redirect-in') { %>
                    <span class="log-http-badge"><cts-icon name="arrow-circle-down"></cts-icon> REDIRECT-IN</span>
                <% } %></cts-icon>
