            <span class="log-http">
                <% if (http == 'request') { %>
                <span class="log-http-badge"><span class="bi bi-arrow-right"></span> REQUEST</span>
                <span class="log-http-curl bi bi-clipboard" onclick="copyRequestAsCurl(event)" title="Generate cURL command for request" role="button">&nbsp;cURL</span>
                <% } else if (http == 'response') { %>
                    <span class="log-http-badge"><span class="bi bi-arrow-left"></span> RESPONSE</span>
                <% } else if (http == 'incoming') { %>
                    <span class="log-http-badge"><span class="bi bi-arrow-down"></span> INCOMING</span>
                <% } else if (http == 'outgoing') { %>
                    <span class="log-http-badge"><span class="bi bi-arrow-up"></span> OUTGOING</span>
                <% } else if (http == 'redirect') { %>
                    <span class="log-http-badge"><span class="bi bi-send-fill"></span> REDIRECT</span>
                <% } else if (http == 'redirect-in') { %>
                    <span class="log-http-badge"><span class="bi bi-arrow-down-circle"></span> REDIRECT-IN</span>
                <% } %>
            </span>
