          <div data-item-entry-id="<%- item._id %>" class="logItem"<%
              if (item.blockId) {
                  var bgColor = randomColor({seed: item.blockId, luminosity: 'dark'});
                  %> style="border-left: 3px solid <%- bgColor %>"<%
              } %>>

              <div class="log-entry-time">
                  <% if (item.time) { %>
                      <%= FAPI_UI.logTemplates.TIME({item: item}) %>
                  <% } %>
              </div>

              <div class="log-entry-labels labelCollection">
                  <% if (item.result) { %>
                  <%= FAPI_UI.logTemplates.RESULT({item: item}) %>
                  <% } %>

                  <% if (item.http) { %>
                    <%= FAPI_UI.logTemplates.HTTP({http: item.http}) %>
                  <% } %>

                  <% if (item.upload) { %>
                    <span class="log-http-badge log-http-badge--upload"><cts-icon name="camera-fill"></cts-icon> IMAGE REQUIRED</span>
                  <% } %>

                  <% if (item.img) { %>
                    <cts-badge variant="review" icon="camera-fill" label="IMAGE"></cts-badge>
                  <% } %>

                  <% if (item.src) { %>
                      <%= FAPI_UI.logTemplates.SOURCE({item: item}) %>
                  <% } %>
              </div>

              <% if (!public) { %>
              <div class="log-entry-owner">
                  <% if (item.testOwner
                          && (item.testOwner.iss != FAPI_UI.currentUser.iss
                              || item.testOwner.sub != FAPI_UI.currentUser.sub)) { %>
                      <%= FAPI_UI.logTemplates.OWNER({owner: item.testOwner}) %>
                  <% } %>
              </div>
              <% } %>

              <div class="log-entry-more moreButtonContainer"></div>

              <div class="log-entry-requirements">
                  <% if (item.requirements) { %>
                      <%= FAPI_UI.logTemplates.REQUIREMENTS({item: item}) %>
                  <% } %>
              </div>

              <% if (item.msg) { %>
              <div class="log-entry-message">
                  <%= FAPI_UI.logTemplates.MESSAGE({item: item}) %>
              </div>
              <% } %>

              <% if (!public && item.upload) { %>
              <div class="log-entry-upload" data-image-required="true">
                  <%= FAPI_UI.logTemplates.UPLOAD({item: item}) %>
              </div>
              <% } %>

              <div class="log-entry-more-info moreInfoContainer"></div>

          </div>
