                    <tr>
                        <td data-order="<%- plan._id %>" data-search="<%- plan._id %>"><a class="btn btn-default btn-block" href="plan-detail.html?plan=<%- plan._id %>"><span class="glyphicon glyphicon-book"></span> View Plan <code class="text-muted"><%- plan._id %></code></a></td>
                        <td class="configColumn" data-search="<%- JSON.stringify(plan.config) %>"><button class="btn btn-default btn-block showConfigBtn"><span class="glyphicon glyphicon-wrench"></span> View Config</button></td>
                        <td><%- plan.planName %></td>
                        <td><%- plan.description %></td>
                        <td data-order="<%- plan.started %>"><%- new Date(plan.started).toLocaleString() %></td>
                        <td data-search="<%- _.pluck(plan.modules, 'testModule') %>"><% _.each(plan.modules, function(module) { %>
                        	
                        	<span class="testStatusResultBlock testResult-unknown" data-instance="<%- module.instances ? module.instances[0] : ''%>"> </span>
                        
                        <% }); %></td>
                        <% if (FAPI_UI.currentUser.isAdmin) { %>
                        <td data-search="<%- plan.owner ? plan.owner.iss + ' ' + plan.owner.sub : '' %>"><%= FAPI_UI.logTemplates.OWNER({owner: plan.owner ? plan.owner : {}}) %></td>
                        <% } %>
                    </tr>
