<!-- Private link expiration period entry -->
<cts-modal id="privateLinkExpirationModal"
    heading="Generate Private Link"
    footer-buttons='[{"label": "Generate Link", "class": "btn-danger", "id": "privateLinkExpirationModalBtn", "dismiss": false}, {"label": "Cancel"}]'>
    <input type="number" id="privateLinkExpirationDays" name="privateLinkExpirationDays" value="1" min="1" max="1000">
    <label for="privateLinkExpirationDays">Validity period (1-1000 days)</label><br>
</cts-modal>

<!-- Private link generation result -->
<cts-modal id="privateLinkResultModal"
    heading=""
    footer-buttons='[{"label": "Copy to clipboard", "class": "btn-primary", "icon": "box-arrow-in-right", "id": "privateLinkCopyBtn", "dismiss": false}, {"label": "Close"}]'>
    <h6><b id="privateLinkResultModalBodyMessage"></b></h6>
    <p id="privateLinkResultModalBody" class="text-break"></p>
</cts-modal>
