                    <tr>
                        <td data-order="<%- test.testId %>" data-search="<%- test.testId %>">
                        <% if (test.publish == "everything") { %>
                        <a class="btn btn-default btn-block" href="publicLogDetail.html?log=<%- encodeURIComponent(test.testId) %>"><span class="glyphicon glyphicon-file"></span> View Logs <code class="text-muted"><%- test.testId %></code></a>
                        <% } else { %>
                        <code class="text-muted"><%- test.testId %></code>
                        <% } %>
                        </td>
                        <td><%- test.testName %></td>
                        <td><%- test.description %></td>
                        <td data-order="<%- test.started %>"><%- new Date(test.started).toLocaleString() %></td>
                        <% if (test.planId) { %>
                        <td data-order=<%- test.planId %>" data-search="<%- test.planId %>"><a class="btn btn-default btn-block" href="publicPlanDetail.html?plan=<%- encodeURIComponent(test.planId) %>"><span class="glyphicon glyphicon-book"></span> View Plan <code class="text-muted"><%- test.planId %></code></a></td>
                        <% } else { %>
                        <td></td>
                              <% } %>
                        <td class="testStatusResultBlock testStatus-<%- test.status ? test.status.toLowerCase() : 'testStatus-unknown' %>"><%- test.status %></td>
                        <td class="testStatusResultBlock testResult-<%- test.result ? test.result.toLowerCase() : 'testResult-unknown' %>"><%- test.result %></td>
                    </tr>
