                    <tr>
                        <td data-order="<%- plan._id %>" data-search="<%- plan._id %>"><a class="btn btn-default btn-block" href="publicPlanDetail.html?plan=<%- plan._id %>"><span class="glyphicon glyphicon-book"></span> View Plan <code class="text-muted"><%- plan._id %></code></a></td>
                        <td><%- plan.planName %></td>
                        <td><%- plan.description %></td>
                        <td data-order="<%- plan.started %>"><%- new Date(plan.started).toLocaleString() %></td>
                        <td data-search="<%- _.map(plan.modules, 'testModule') %>"><% _.each(plan.modules, function(module) { %>

                        	<span class="testStatusResultBlock testResult-unknown" data-toggle="tooltip" title="<%- module.testModule %>" data-instance="<%- module.instances ? module.instances[0] : ''%>"> </span>

                        <% }); %></td>
                    </tr>
