                    <tr>
                        <td data-order="<%- plan._id %>" data-search="<%- plan._id %>"><code class="text-muted"><%- plan._id %></code></td>
                        <td><%- plan.planName %></td>
                        <td><%- plan.description %></td>
                        <td data-order="<%- plan.started %>"><%- new Date(plan.started).toLocaleString() %></td>
                        <td data-search="<%- _.pluck(plan.modules, 'testModule') %>"><% _.each(plan.modules, function(module) { %>

                        	<span class="testStatusResultBlock testResult-unknown" data-toggle="tooltip" title="<%- module.testModule %>" data-instance="<%- module.instances ? module.instances[0] : ''%>"> </span>

                        <% }); %></td>
                    </tr>
