        <div class="runningTest row" data-instance-id="<%- test.id %>">
            <div class="col-md-2 testStatusAndResult"> <!-- result/status -->

            </div>
            <div class="col-md-8"> <!-- test name / date -->
                <div class="row">
                    <div class="col-md-1">Test Name:</div>
                    <div class="col-md-11"><%- test.name %></div>
                </div>
                <div class="row">
                    <div class="col-md-1">Test ID:</div>
                    <div class="col-md-11"><%- test.id %></div>
                </div>
                <div class="row">
                    <div class="col-md-1">Created:</div>
                    <div class="col-md-11"><%- new Date(test.created) %></div>
                </div>
                <div class="row">
                    <div class="col-md-1">Updated:</div>
                    <div class="col-md-11"><%- new Date(test.updated) %></div>
                </div>
                <% if (FAPI_UI.currentUser.isAdmin) { %>
                <div class="row">
                    <div class="col-md-1">Test Owner:</div>
                    <div class="col-md-11">
                        <%= FAPI_UI.logTemplates.OWNER({owner: test.owner}) %>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="col-md-2"> <!-- controls -->
                <button class="btn btn-default btn-block downloadBtn"><span class="glyphicon glyphicon-save-file"></span> Download Logs</button>
                <a class="btn btn-default btn-block viewBtn" href="log-detail.html?log=<%- encodeURIComponent(test.id) %>"><span class="glyphicon glyphicon-list-alt"></span> View Test Details</a>
            </div>

        </div>
