        <div class="runningTest row" data-instance-id="<%- test.id %>">
            <div class="col-md-2 testStatusAndResult"> <!-- result/status -->

            </div>
            <div class="col-md-8"> <!-- test name / date -->
                <div class="row">
                    <div class="col-md-1">Test Name:</div>
                    <div class="col-md-11"><%- test.name %></div>
                </div>
                <div class="row">
                    <div class="col-md-1">Test ID:</div>
                    <div class="col-md-11"><%- test.id %></div>
                </div>
                <div class="row">
                    <div class="col-md-1">Created:</div>
                    <div class="col-md-11"><%- new Date(test.created) %></div>
                </div>
                <div class="row">
                    <div class="col-md-1">Updated:</div>
                    <div class="col-md-11"><%- new Date(test.updated) %></div>
                </div>
                <% if (FAPI_UI.currentUser.isAdmin) { %>
                <div class="row">
                    <div class="col-md-1">Test Owner:</div>
                    <div class="col-md-11">
                        <%= FAPI_UI.logTemplates.OWNER({owner: test.owner}) %>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="col-md-2"> <!-- controls -->
                <div class="d-grid gap-2">
                    <cts-button class="downloadBtn" full-width icon="save2" label="Download Logs"></cts-button>
                    <cts-link-button class="viewBtn" full-width href="log-detail.html?log=<%- encodeURIComponent(test.id) %>" icon="card-list" label="View Test Details"></cts-link-button>
                </div>
            </div>

        </div>
