                <% if (userInfo.isAdmin) { %>
                    <p>Admin users cannot create tokens - please login as a non-admin user.</p>
                <% } else { %>
                    <p>
                    <button type="button" class="btn btn-primary btn-lg" id="newTemporaryToken">New temporary token</button>
                    <button type="button" class="btn btn-primary btn-lg" id="newPermanentToken">New permanent token</button>
                    <a class="btn btn-primary btn-lg" href="/api-document.html">API Documentation</a>
                    </p>

                    <table id="tokensListing" class="table table-striped table-bordered table-hover">
                        <thead>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                <% } %>
