        <div id="userInfoData" class="float-end">
            <form action="/logout" method="post" class="row g-3">
                <div class="col-auto">
                    <p class="form-control-plaintext">Logged in as
                        <% if (userInfo.isAdmin) { %><small class="badge bg-danger">ADMIN</small> <%}%>
                        <span class="text-primary" data-bs-toggle="tooltip" title="<%- userInfo.principal %>" data-bs-placement="bottom"><%- userInfo.displayName %></span></p>
                </div>
                <div class="col-auto">
                    <% if (!userInfo.isAdmin) { %><a class="btn btn-sm btn-light bg-gradient border border-secondary" href="/tokens.html">Tokens</a><% } %>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-sm btn-primary bg-gradient border border-secondary" value="Logout">
                </div>
            </form>
        </div>
