services:
  mongodb:
    image: mongo:6.0.13
    volumes:
     - ./mongo/data:/data/db
  nginx:
    build:
      context: ./nginx
    ports:
     - "8443:8443"
     - "8444:8444"
     - "8445:8445"
    depends_on:
     - server
  server:
    build:
      context: ./server-dev
    volumes:
     - ./target/:/server/
    command: >
      java
      -jar /server/fapi-test-suite.jar
      -Djdk.tls.maxHandshakeMessageSize=65536
      --fintechlabs.base_url=https://localhost.emobix.co.uk:8443
      --fintechlabs.devmode=true
      --fintechlabs.startredir=true
    links:
     - mongodb:mongodb
    depends_on:
     - mongodb
    logging:
      # limit logs retained on host
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "5"
