<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>FAPI Test Suite</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/layout.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	
  	<!-- resident DOM -->
	<a href="index.html"><header></header></a>

    <div id="busy">
    	<div class="activityIndicator">Please wait</div>
    </div>

    <div class="container">
        <div id="homePage">
 			<h1>FAPI Test Framework</h1>

			<ul class="nav nav-tabs">
			    <li class="active"><a data-toggle="tab" href="#formInput">Form</a></li>
			    <li><a data-toggle="tab" href="#JSONInput">JSON</a></li>
			</ul>

			<div class="tab-content">
				<div id="formInput" class="tab-pane fade in active">
				  	<h3>Server</h3>
					<div class="row">
						<div class="col-md-2 key">discoveryUrl</div>
						<div class="col-md-10"><input id="input-discoveryUrl" placeholder="Required" onKeyUp="populateJSON('server', 'discoveryUrl', this.value)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></input></div>
					</div>

					<h3>Client</h3>
					<div class="row">
						<div class="col-md-2 key">client_id</div>
						<div class="col-md-10"><input id="input-client_id" placeholder="Required" onKeyUp="populateJSON('client', 'client_id', this.value)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></input></div>
					</div>
					<div class="row">
						<div class="col-md-2 key">client_secret</div>
						<div class="col-md-10"><input id="input-client_secret" placeholder="Optional" onKeyUp="populateJSON('client', 'client_secret', this.value)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></input></div>
					</div>
					<div class="row">
						<div class="col-md-2 key">scope</div>
						<div class="col-md-10"><input id="input-scope" placeholder="Optional" onKeyUp="populateJSON('client', 'scope', this.value)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></input></div>
					</div>
					<div class="row">
						<div class="col-md-2 key">redirect_uri</div>
						<div class="col-md-10"><input id="input-redirect_uri" placeholder="Optional" onKeyUp="populateJSON('client', 'redirect_uri', this.value)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></input></div>
					</div>
					<div class="row">
						<div class="col-md-2 key">jwks.keys</div>
						<div class="col-md-10"><textarea id="input-client-jwksKeys" placeholder="An array of objects (Optional)" onKeyUp="populateJWKSKeys(this.value, 'client')" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea></div>
					</div>

					<h3>JWKS</h3>
					<div class="row">
						<div class="col-md-2 key">keys</div>
						<div class="col-md-10"><textarea id="input-jwksKeys" placeholder="An array of objects (Optional)" onKeyUp="populateJWKSKeys(this.value)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea></div>
					</div>

					<h3>TLS</h3>
					<div class="row">
						<div class="col-md-2 key">testHost</div>
						<div class="col-md-10"><input id="input-testHost" placeholder="Optional" onKeyUp="populateJSON('tls', 'testHost', this.value)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></input></div>
					</div>

					<div class="row">
						<div class="col-md-2 key">testPort</div>
						<div class="col-md-10"><input id="input-testPort" placeholder="Optional" onKeyUp="populateJSON('tls', 'testPort', this.value)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></input></div>
					</div>
				</div>

				<div id="JSONInput" class="tab-pane fade">
				  <textarea id="config" placeholder="{JSON data}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
				</div>
			</div><!-- / .tab-content -->

	        <div>
				<input type="text" id="alias" placeholder="alias"></input>
				<!-- render available test launch options here -->
				<div id="launch-buttons"></div>
	        </div>

	        <hr />

	        <h3>Running tests</h3>
	        <div>
				<button class="btn" id="refresh">Refresh</button>
				<!-- render tests to here -->
				<div id="running-tests"></div>
	        </div>

	        <hr />

	        <div>
	            <a href="logs.html" class="btn btn-info">View all available logs.</a>
	        </div>
        </div>
    </div>

    <!-- Templates -->
    <!-- Test Button -->
    <script type="text/template" id="indexTemplate_TestButton">  
        <button class="btn" id="createTestBtn-<%- index %>">Create <%- testName %></button>
    </script>

    <!-- Running Test: Main -->
    <script type="text/template" id="indexTemplate_RunningTest">  
		<div id="<%- testStatus.id %>" class="testResult result-<%- testStatus.result.toLowerCase() %>">
			<b><%- testStatus.name %></b> (<i><%- testStatus.id %></i>): <%- testStatus.status %> / <%- testStatus.result %>
			<ul class="exposed"></ul>
			<button class="btn start">START</button>
    		<button class="btn stop">STOP</button>
    		<a href="log-detail.html?log=<%- encodeURIComponent(testStatus.id) %>"><button class="btn view">View log</button></a>
    		<hr />
    		<ul class="browser"></ul>
		</div>
    </script>

    <!-- Running Test: Exposed -->
    <script type="text/template" id="indexTemplate_RunningTestExposedKeyValues">
    	<li><b><%- key %></b>: <i><%- val %></i></li>
    </script>

    <!-- Running Test: ExternalURL -->
    <script type="text/template" id="indexTemplate_RunningTestExternalURL">
    	<li>Go to URL: <a id="browserLink-<%- testId %>-<%- index %>" href="#"><span class="externalURLLink"><%- url %></span></a></li>
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script type="text/javascript" src="js/fapi.ui.js"></script>

	<script type="text/javascript">
		
	    /**
	     * 
	     */
		$(function() {

			FAPI_UI.loadHomepageTemplates();

			$("#config").val(JSON.stringify(FAPI_UI.testJSON, null, 4));
			
			$.getJSON('runner/available', function(data) {
				console.log('available: ', JSON.stringify(data));
				_.each(data, function(testName, index) {
					$('#launch-buttons').append(FAPI_UI.logTemplates.TEST_LAUNCH_BUTTON({testName:testName, index:index}));

					$('#createTestBtn-'+index).click(function (evt) {
						console.log('Button clicked: ' + testName);
						$("#busy").show();

						$.ajax({url: 'runner/?test=' + encodeURIComponent(testName) + '&alias=' + encodeURIComponent($('#alias').val()),
								type: 'POST',
								contentType: 'application/json',
								data: $('#config').val(),
								success: function(data, status) {
									$("#busy").hide();
									console.log('start results: ', data);
									updateRunningTable();
								},
								error: function(jqxhr, status, error) {
									$("#busy").hide();
									alert("Error:"+status);
								},
								dataType: 'json'
						});
					});
				});
			});
			
			updateRunningTable();
			
			$('#refresh').click(function(event) {
				updateRunningTable();
			});

			// bind the tab actions
			$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			    var target = $(e.target).attr("href");
			    if (target == '#formInput') {
			       openTab(0);
			    } else if (target == '#JSONInput') {
			       openTab(1);
			    }
			});
			
		});

		/**
	     * 
	     */
		function updateRunningTable() {
			$.getJSON('runner/running', function(data) {
				console.log('running: ', JSON.stringify(data));
				$('#running-tests').html('');
				
				_.each(data, function(testId) {
					$.getJSON('runner/' + encodeURIComponent(testId), function(status) {
						console.log("displaying test results:"+JSON.stringify(status));

						$('#running-tests').append(FAPI_UI.logTemplates.RUNNING_TEST({testStatus:status}));

						_.each(status.exposed, function(val, key) {
			                $('#'+status.id+' .exposed').append(FAPI_UI.logTemplates.RUNNING_TEST_EXPOSED_KEY_VALUES({key:key, val:val}));
						});

						// Create start & stop button click handlers
						$('#'+status.id+' button.start').click(function (evt) {
							console.log('Start button clicked: ' + testId);
							$.ajax({url: 'runner/' + encodeURIComponent(testId),
						    	type: 'POST',
						    	success: function(data, status) {
		                            console.log('Status: ', status);                                                    
		                            updateRunningTable();
						    	}
						    });
						});

						$('#'+status.id+' button.stop').click(function (evt) {
							console.log('Stop button clicked: ' + testId);
							$.ajax({url: 'runner/' + encodeURIComponent(testId),
		                        type: 'DELETE',
		                        success: function(data, status) {
		                            console.log('Status: ', status);                                                    
		                            updateRunningTable();
		                        }
		                    });
						});

						// External URL link
						$.getJSON('runner/browser/' + encodeURIComponent(testId), function(browser) {
							_.each(browser.urls, function(url, index) {
								$('#'+status.id+' .browser').append(FAPI_UI.logTemplates.RUNNING_TEST_EXTERNAL_URL({testId:testId, url:url, index:index}));
								
								// add the click handler
								$('#browserLink-'+testId+"-"+index).click(function(event) {
									event.preventDefault();
									var win = window.open(url, '_blank');
									
									if (win) {
										win.focus();
										$.ajax({url: 'runner/browser/' + encodeURIComponent(testId) + '/visit?url=' + encodeURIComponent(url),
											type: 'POST',
											success: function(data, status) {
												console.log('Status: ', status);													
												updateRunningTable();
											}
										});
									} else {
										// couldn't open the link?
										console.log("Couldn't launch window");
									}
								});
							});						
						});
					});
				});
			});
		}

		/**
		 *
		 */		
		function openTab(tabId) {

		    if (tabId == 0) { // Populate the Form from the JSON
		    	var parsedJSON;
		    	try {
			        parsedJSON = JSON.parse($("#config").val());
			    } catch (e) {
			        return false;
			    }

			    // check that any pasted JSON data still conforms to our JSON schema's compulsory objects
			    if (parsedJSON.server && parsedJSON.client) {
			    	if (parsedJSON.server.discoveryUrl && parsedJSON.client.client_id) {
				    	FAPI_UI.testJSON = parsedJSON;

				    	// update the input displays with any new data
					    $("#input-discoveryUrl").val(FAPI_UI.testJSON.server.discoveryUrl);	  
					    $("#input-client_id").val(FAPI_UI.testJSON.client.client_id);

					    // the user could have pasted garbage in their JSON paste, lets filter & only get the required items
					    if (FAPI_UI.testJSON.client.client_secret) {
					    	$("#input-client_secret").val(FAPI_UI.testJSON.client.client_secret);
					    }
					    if (FAPI_UI.testJSON.client.scope) {
					    	$("#input-scope").val(FAPI_UI.testJSON.client.scope);
					    }
					    if (FAPI_UI.testJSON.client.redirect_uri) {
					    	$("#input-redirect_uri").val(FAPI_UI.testJSON.client.redirect_uri);
					    }
					    if (FAPI_UI.testJSON.client.jwks && FAPI_UI.testJSON.client.jwks.keys) {
					    	$("#input-client-jwksKeys").val(JSON.stringify(FAPI_UI.testJSON.client.jwks.keys));
					    }
					    if (FAPI_UI.testJSON.jwks && FAPI_UI.testJSON.jwks.keys) {
					    	$("#input-jwksKeys").val(JSON.stringify(FAPI_UI.testJSON.jwks.keys));
					    }
					    if (FAPI_UI.testJSON.tls && FAPI_UI.testJSON.tls.testHost) {
					    	$("#input-testHost").val(FAPI_UI.testJSON.tls.testHost);
					    }
					    if (FAPI_UI.testJSON.tls && FAPI_UI.testJSON.tls.testPort) {
					    	$("#input-testPort").val(FAPI_UI.testJSON.tls.testPort);
					    } 
				    }
			    }
		    } else if (tabId == 1) { // populate the JSON from the Form
		    	$("#config").val(JSON.stringify(FAPI_UI.testJSON, null, 4));
		    }
		}

		/**
		 *
		 */
		function populateJSON(node, key, val) {
			FAPI_UI.testJSON[node][key] = val;
		}

		/**
		 *
		 */
		function populateJWKSKeys(val, target) {

			var parsedJSON;

			// check for valid JSON
			try {
		        parsedJSON = JSON.parse(val);
		    } catch (e) {
		        return false;
		    }

		    // check our keys are in an array
		    if (!_.isArray(parsedJSON)) {
		    	alert("Your keys are not in an array!");
		    	return;
		    }

		    if (target == "client") {
		    	FAPI_UI.testJSON.client.jwks.keys = parsedJSON;
		    } else {
		    	FAPI_UI.testJSON.jwks.keys = parsedJSON;
		    }
		    
		    return true;
		}

	</script>

  </body>
</html>
