<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>FAPI Conformance Suite</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
	<link rel="stylesheet" type="text/css" href="css/layout.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	
  	<!-- resident DOM -->
	<a href="index.html"><header></header></a>

    <!-- Busy dialog overlay -->
    <div id="busy">
    	<div class="activityIndicator">Please wait</div>
    </div>

    <!-- error modal -->
	<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="errorLabel">Error</h4>
				</div>
				<div class="modal-body">Error: <span id="errorMessage"></span></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
        <div id="homePage">
 			<h1>FAPI Conformance Suite</h1>

			<div>
				<form action="/logout" method="post" class="form-inline">
					<input type="submit" class="btn btn-sm btn-primary" value="Logout">
				</form>
			</div><hr />

			<ul class="nav nav-tabs">
			    <li class="active"><a data-toggle="tab" id="tab-a" href="#formInput">Form</a></li>
			    <li><a data-toggle="tab" id="tab-b" href="#JSONInput">JSON</a></li>
			</ul>

			<div class="tab-content">
				<div id="formInput" class="tab-pane fade in active">
				  	<h3>Server</h3>
					<div class="row">
						<div class="col-md-2 key">discoveryUrl</div>
						<div class="col-md-10"><input class="config-form-element" data-json-target="server.discoveryUrl" placeholder=""></input></div>
					</div>

					<h3>Client</h3>
					<div class="row">
						<div class="col-md-2 key">client_id</div>
						<div class="col-md-10"><input class="config-form-element" data-json-target="client.client_id" placeholder=""></input></div>
					</div>
					<div class="row">
						<div class="col-md-2 key">client_secret</div>
						<div class="col-md-10"><input class="config-form-element" data-json-target="client.client_secret" placeholder=""></input></div>
					</div>
					<div class="row">
						<div class="col-md-2 key">scope</div>
						<div class="col-md-10"><input class="config-form-element" data-json-target="client.scope" placeholder=""></input></div>
					</div>
					<div class="row">
						<div class="col-md-2 key">redirect_uri</div>
						<div class="col-md-10"><input class="config-form-element" data-json-target="client.redirect_uri" placeholder=""></input></div>
					</div>
					<div class="row">
						<div class="col-md-2 key">mtls.cert</div>
						<div class="col-md-10"><textarea class="config-form-element" data-json-target="client.mtls.cert" placeholder=""></textarea></div>
					</div>

					<div class="row">
						<div class="col-md-2 key">mtls.key</div>
						<div class="col-md-10"><textarea class="config-form-element" data-json-target="client.mtls.key" placeholder=""></textarea></div>
					</div>
					<div class="row">
						<div class="col-md-2 key">jwks.keys</div>
						<div class="col-md-10"><textarea class="config-form-element" data-json-target="client.jwks.keys" placeholder=""></textarea></div>
					</div>

					<h3>JWKS</h3>
					<div class="row">
						<div class="col-md-2 key">keys</div>
						<div class="col-md-10"><textarea class="config-form-element" data-json-target="jwks.keys" placeholder=""></textarea></div>
					</div>

					<h3>TLS</h3>
					<div class="row">
						<div class="col-md-2 key">testHost</div>
						<div class="col-md-10"><input class="config-form-element" data-json-target="tls.testHost" placeholder=""></input></div>
					</div>

					<div class="row">
						<div class="col-md-2 key">testPort</div>
						<div class="col-md-10"><input class="config-form-element" data-json-target="tls.testPort" placeholder=""></input></div>
					</div>
				</div>

				<div id="JSONInput" class="tab-pane fade">
				  	<textarea id="config" placeholder="{JSON data}"></textarea>
				</div>
			</div><!-- / .tab-content -->

	        <div>
				<input type="text" id="alias" placeholder="alias"></input>
				<!-- render available test launch options here -->
				<div id="launch-buttons"></div>
	        </div>

	        <hr />

	        <h3>Running tests</h3>
	        <div>
				<button class="btn" id="refresh">Refresh</button>
				<!-- render tests to here -->
				<div id="running-tests"></div>
	        </div>

	        <hr />

	        <div>
	            <a href="logs.html" class="btn btn-info">View all available logs.</a>
	        </div>

        </div>
    </div>

    <!-- Templates -->
    <!-- Test Button -->
    <script type="text/template" id="indexTemplate_TestButton">  
        <button class="btn" id="createTestBtn-<%- index %>">Create <%- testName %></button>
    </script>

    <!-- Running Test: Main -->
    <script type="text/template" id="indexTemplate_RunningTest">  
		<div id="<%- testStatus.id %>" class="testResult result-<%- testStatus.result.toLowerCase() %>">
			<b><%- testStatus.name %></b> (<i><%- testStatus.id %></i>): <%- testStatus.status %> / <%- testStatus.result %>
			<ul class="exposed"></ul>
			<button class="btn start">START</button>
    		<button class="btn stop">STOP</button>
    		<a href="log-detail.html?log=<%- encodeURIComponent(testStatus.id) %>"><button class="btn view">View log</button></a>
    		<hr />
    		<ul class="browser"></ul>
		</div>
    </script>

    <!-- Running Test: Exposed -->
    <script type="text/template" id="indexTemplate_RunningTestExposedKeyValues">
    	<li><b><%- key %></b>: <i><%- val %></i></li>
    </script>

    <!-- Running Test: ExternalURL -->
    <script type="text/template" id="indexTemplate_RunningTestExternalURL">
    	<li>Go to URL: <a id="browserLink-<%- testId %>-<%- index %>" href="#"><span class="externalURLLink"><%- url %></span></a></li>
    </script>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script type="text/javascript" src="js/fapi.ui.js"></script>

	<script type="text/javascript">
		
	    /**
	     * 
	     */
		$(function() {

			FAPI_UI.loadHomepageTemplates();

			$("#config").val(JSON.stringify(FAPI_UI.testJSON, null, 4));
			
			$.getJSON('runner/available', function(data) {
				console.log('available: ', JSON.stringify(data));
				_.each(data, function(testName, index) {
					$('#launch-buttons').append(FAPI_UI.logTemplates.TEST_LAUNCH_BUTTON({testName:testName, index:index}));

					$('#createTestBtn-'+index).click(function (evt) {
						console.log('Button clicked: ' + testName);
						$("#busy").show();

						$.ajax({url: 'runner/?test=' + encodeURIComponent(testName) + '&alias=' + encodeURIComponent($('#alias').val()),
								type: 'POST',
								contentType: 'application/json',
								data: $('#config').val(),
								success: function(data, status) {
									$("#busy").hide();
									console.log('start results: ', data);
									updateRunningTable();
								},
								error: function(jqxhr, status, error) {
									$("#busy").hide();
									FAPI_UI.showError(jqxhr.responseJSON);
                                    updateRunningTable();
								},
								dataType: 'json'
						});
					});
				});
			});
			
			updateRunningTable();
			
			$('#refresh').click(function(event) {
				updateRunningTable();
			});

			// Config UI
			$(".config-form-element").attr("autocomplete","off");
			$(".config-form-element").attr("autocorrect","off");
			$(".config-form-element").attr("autocapitalize","off");
			$(".config-form-element").attr("spellcheck","false");

			// form text updates
			$(".config-form-element").on('change', function(event) {
				populateJSON($(this).data("jsonTarget"), this.value);
			});

			// tab actions
			$('#tab-a').click(function (e) { // populate the Form from the JSON

		    	try {
			        FAPI_UI.testJSON = JSON.parse($("#config").val());
			    } catch (e) {
			        return true; // ensures the tab visually switches as expected even if there is invalid JSON pasted
			    }

			    $(".config-form-element").val(""); // clear all form details - we are going to read it in from the JSON

			    /**
			     * 
			     */
			    function walkJSON(element, root) {

			    	_.each(element, function(value, key, obj) { 
			    			console.log("****** WALK NODE ******");
			    			console.log("root="+root);
				    		console.log("value="+JSON.stringify(value));
				    		console.log("key="+key);
				    		console.log("obj="+JSON.stringify(obj));
				    		console.log("element="+JSON.stringify(element));

				    		var el = $(".config-form-element[data-json-target='"+root+"."+key+"']");
				    		
				    		if ($(document).find(el).length) {
				    			if (_.isArray(value) || _.isObject(value)) {
				    				el.val(JSON.stringify(value));
				    			} else {
				    				el.val(value);
				    			}
				    		} else {
				    			if (_.isObject(value)) {
				    				if (root != undefined) {
				    					walkJSON(value, root+"."+key);
				    				} else {
				    					walkJSON(value, key);
				    				}
				    			}
				    		}
				    	}
				    )
			    }
			    walkJSON(FAPI_UI.testJSON);
			})

			$('#tab-b').click(function (e) { // populate the JSON from the Form
		    	$("#config").val(JSON.stringify(FAPI_UI.testJSON, null, 4));
			})
		});

		/**
	     * 
	     */
		function updateRunningTable() {
			$.getJSON('runner/running', function(data) {
				console.log('running: ', JSON.stringify(data));
				$('#running-tests').html('');
				
				_.each(data, function(testId) {
					$.getJSON('runner/' + encodeURIComponent(testId), function(status) {
						console.log("displaying test results:"+JSON.stringify(status));

						$('#running-tests').append(FAPI_UI.logTemplates.RUNNING_TEST({testStatus:status}));

						_.each(status.exposed, function(val, key) {
			                $('#'+status.id+' .exposed').append(FAPI_UI.logTemplates.RUNNING_TEST_EXPOSED_KEY_VALUES({key:key, val:val}));
						});

						// Create start & stop button click handlers
						$('#'+status.id+' button.start').click(function (evt) {
							console.log('Start button clicked: ' + testId);
							$.ajax({url: 'runner/' + encodeURIComponent(testId),
						    	type: 'POST',
						    	success: function(data, status) {
		                            console.log('Status: ', status);                                                    
		                            updateRunningTable();
						    	}
						    });
						});

						$('#'+status.id+' button.stop').click(function (evt) {
							console.log('Stop button clicked: ' + testId);
							$.ajax({url: 'runner/' + encodeURIComponent(testId),
		                        type: 'DELETE',
		                        success: function(data, status) {
		                            console.log('Status: ', status);                                                    
		                            updateRunningTable();
		                        }
		                    });
						});

						// External URL link
						$.getJSON('runner/browser/' + encodeURIComponent(testId), function(browser) {
							_.each(browser.urls, function(url, index) {
								$('#'+status.id+' .browser').append(FAPI_UI.logTemplates.RUNNING_TEST_EXTERNAL_URL({testId:testId, url:url, index:index}));
								
								// add the click handler
								$('#browserLink-'+testId+"-"+index).click(function(event) {
									event.preventDefault();
									var win = window.open(url, '_blank');
									
									if (win) {
										win.focus();
										$.ajax({url: 'runner/browser/' + encodeURIComponent(testId) + '/visit?url=' + encodeURIComponent(url),
											type: 'POST',
											success: function(data, status) {
												console.log('Status: ', status);													
												updateRunningTable();
											}
										});
									} else {
										// couldn't open the link?
										console.log("Couldn't launch window");
									}
								});
							});						
						});
					});
				});
			});
		}

		/**
		 *
		 */
		function populateJSON(key, val) {

			// responsible for converting any dot syntax in our key parameter into object refs
			Object.prop = function(obj, prop, val){
			    var props = prop.split('.')
			      , final = props.pop(), p 
			    while(p = props.shift()){
			        if (typeof obj[p] === 'undefined') {
			        	obj[p] = {}; // create the object
			        }

			        obj = obj[p];
			    }

			    return val ? (obj[final] = val) : obj[final];
			}
			/*
			var obj = { "a": { "b": '1', "c": 0 } };
			// get
			console.log("obj.a.c="+Object.prop(obj, 'a.c')); // -> 0
			// set
			Object.prop(obj, 'a.c', 5);
			console.log(obj); // -> { a: { b: '1', c: 5 } }
			Object.prop(obj, 'create.me.now', "hello");
			console.log(obj); // -> { a: { b: '1', c: 5 }, create:{me:{now:"hello"}} }
			*/

			console.log("key="+key);
			console.log("val="+val);

			// check to see if we have an "array string" or a "number string"
			// i.e. something we want to parse as an array/object/number because the val parameter always comes through as a string from the text input
			try {
		        var stringToJSON = JSON.parse(val); // an array, object or number ?
		        if (_.isArray(stringToJSON) || _.isObject(stringToJSON)) {
					Object.prop(FAPI_UI.testJSON, key, stringToJSON);
				}
				else if (_.isNumber(stringToJSON)) {
					Object.prop(FAPI_UI.testJSON, key, val);
				}
		    } catch (e) { // a string
		    	if (val=="") { // if we have an empty string then delete the value
		    		console.log("omit:"+key);
		    		var elements = key.split(".");
		    		if (elements.length > 1) {
		    			FAPI_UI.testJSON = _.omit(FAPI_UI.testJSON[elements[0]], elements[1]); 
		    		} else {
		    			FAPI_UI.testJSON = _.omit(FAPI_UI.testJSON, key); 
		    		}
		    	} else {
		    		Object.prop(FAPI_UI.testJSON, key, val);
		    	}
		    }

			console.log("FAPI_UI.testJSON="+JSON.stringify(FAPI_UI.testJSON));
		}

	</script>

  </body>
</html>
