<!--



-->
<html>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta charset="UTF-8">
    <title>Fintech IO : UI for Test Output : Log Detail</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" type="text/css" href="css/layout.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>

    <script type="text/javascript" src="js/fapi.ui.js"></script>

    <body>

        <a href="index.html"><header  class="pull-left"></header></a>
        <div id="userInfoDiv" class="pull-right">
            Loading . . .
        </div>
        <div class="clearfix"></div>
        
        <!-- LogStart -->
        <script type="text/template" id="logDetailTemplate_LogStart">

            <div class="well container-fluid">
              <div class="row-fluid" id="logHeader"> <!-- main header -->
        
                <div class="col-md-2" id="testStatusAndResult"><!-- status and results block -->

                    <div class="testStatusResultBlock testStatus-<%- test.status ? test.status.toLowerCase() : 'testStatus-unknown' %>">
                        <%- test.status %>
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="<%- FAPI_UI.getStatusHelp(test.status) %>" data-placement="right"></span>
                    </div>
                    <div class="testStatusResultBlock testResult-<%- test.result ? test.result.toLowerCase() : 'testResult-unknown' %>">
                        <%- test.result %>
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="<%- FAPI_UI.getResultHelp(test.result) %>" data-placement="right"></span>
                    </div>

                    <!-- calculated test results -->
                    <div>
                        <div>
                            <small>Test condition summary:</small>
                        </div>
                        <div>
                    <%
                        var hiddenKeys = ["passed", "finished", "total"];
                        _.each(summary, function(value, key, o) {
                            if (value && !_.contains(hiddenKeys, key)) {
                    %>
                                <span class="label result-<%- key %>"><%- key.toUpperCase() %> <span class="badge"><%- value %></span></span>
                    <%
                            }
                        });
                    %>
                        </div>
                    </div>

                </div>

                <div class="col-md-9"> <!-- main info -->
                    <div class="row">
                        <div class="col-md-1">Test Name</div>
                        <div class="col-md-11"><%- test.testName %></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">Log</div>
                        <div class="col-md-11"><%- test.testId %></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">Created</div>
                        <div class="col-md-11"><%- new Date(test.started) %></div>
                    </div>
                    <% if (FAPI_UI.currentUser.isAdmin) { %>
                    <div class="row">
                        <div class="col-md-1">Test Owner</div>
                        <div class="col-md-11">
                            <span class="label label-primary"><%- test.owner.sub %> <span class="badge"><%- test.owner.iss %></span></span>
                        </div>
                    </div>
                    <% } %>
                </div>

                <div class="col-md-1"> <!-- controls -->
                    <button class="btn btn-block" id="startBtn"><span class="glyphicon glyphicon-play"></span> Start</button>
                    <button class="btn btn-block" id="stopBtn"><span class="glyphicon glyphicon-stop"></span> Stop</button>
                    <button class="btn btn-block" id="reloadBtn"><span class="glyphicon glyphicon-retweet"></span> Reload</button>
                    <button class="btn btn-block" id="uploadBtn"><span class="glyphicon glyphicon-picture"></span> Upload Image</button>
                    <button class="btn btn-block" id="downloadBtn"><span class="glyphicon glyphicon-save-file"></span> Download Logs</button>
                </div>

              </div>
              <div class="row-fluid" id="runningTestInformation">
                <!-- attach controls and information for an actively running test here -->
              </div>
            </div>
        </script>

        <!-- Log detail element -->
        <script type="text/template" id="logDetailTemplate">
            <div id="log-<%- item._id %>">
              <div class="row">
                <div class="col-md-1">
                <% if (item.result) { 
                    // count the number of test types to render later on
                    FAPI_UI.testResults[item.result.toLowerCase()]++;
                    FAPI_UI.testResults.total++;
                %>
                    <%= FAPI_UI.logTemplates.RESULT({item: item}) %>
                <% } %>
                </div>

                <div class="col-md-9">
                <% if (item.src) { %>
                    <%= FAPI_UI.logTemplates.SOURCE({item: item}) %>
                <% } %>
                </div>
            
                <div class="col-md-2">
                <% if (item.testOwner && (item.testOwner.iss != FAPI_UI.currentUser.iss || item.testOwner.sub != FAPI_UI.currentUser.sub)) { %>
                    <%= FAPI_UI.logTemplates.OWNER({item: item}) %>
                <% } %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-1">
                <% if (item.requirements) { %>
                    <%= FAPI_UI.logTemplates.REQUIREMENTS({item: item}) %>
                <% } %>
                </div>

                <div class="col-md-11">
                <% if (item.msg) { %>
                    <%= FAPI_UI.logTemplates.MESSAGE({item: item}) %>
                <% } %>
                <% if (item.upload) { %>
                    <p><%= FAPI_UI.logTemplates.UPLOAD({item: item}) %></p>
                <% } %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                <% if (item.time) { %>
                    <%= FAPI_UI.logTemplates.TIME({item: item}) %>
                <% } %>
                </div>
              </div>

              <div class="more-info">
                
              </div>
            </div>
            <hr />
        </script>

        <!-- Source -->
        <script type="text/template" id="logDetailTemplate_Source">
            <span class="log-source wordwrap"><%- item.src %></span>
        </script>

        <!-- Message -->
        <script type="text/template" id="logDetailTemplate_Message">
            <p class="log-message wordwrap"><%- item.msg %></p>
        </script>

        <!-- Requirements -->
        <script type="text/template" id="logDetailTemplate_Requirements">
            <% _.each(item.requirements, function(requirement) { %>
                <span class="log-requirement label label-default"><%- requirement %></span>
            <% }); %>
        </script>

        <!-- Upload -->
        <script type="text/template" id="logDetailTemplate_Upload">
            <span class="label label-warning">IMAGE REQUIRED</span><a class="btn btn-info" href="/upload.html?log=<%- item.testId %>&placeholder=<%- item.upload %>">Attach image...</a>
        </script>

        <!-- Result -->
        <script type="text/template" id="logDetailTemplate_Result">
            <span class="log-result label result-<%- item.result.toLowerCase() %>"><%- item.result.toUpperCase() %></span>
        </script>

        <!-- Time  -->
        <script type="text/template" id="logDetailTemplate_Time">
            <span class="log-time"><small class='muted'><%- new Date(item.time).toLocaleTimeString() %></small></span>
        </script>
        
        <!-- Owner -->
        <script type="text/template" id="logDetailTemplate_Owner">
            <span class="log-owner"><span class="label label-primary"><%- item.testOwner.sub %> <span class="badge"><%- item.testOwner.iss %></span></span></span>
        </script>

        <!-- More -->
        <script type="text/template" id="logDetailTemplate_More">
            <button id="moreBtn-<%- item._id %>" class="btn btn-default btn-xs">
                <span class="badge"><%- _.size(more) %></span> More <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>  
            </button>
            <div id="moreInfo-<%- item._id %>" class="moreInfo collapse container-fluid">
            <%
                // display all the extra fields
                _.each(more, function(value, key, o) {
            %>
                        <div class="row">
                            <div class="key"><%- key %></div>
                        </div>
                        <div class="row">
                            <div class="value wordwrap">
            <% if (key == 'img') { %>
                <img src="<%- value %>">
            <% } else if (key == 'stacktrace') { %>
                <ul>
                    <% _.each(value, function(v) { %>
                        <li><%- v %></li>
                    <% }); %>
                </ul>
            <% } else if (_.isString(value)) { %>
                <%- value %>
            <% } else { // by default run it through the json viewer %>
                <%- JSON.stringify(value) %>
            <% } %>
                            </div>
                        </div> 
            <%
                });
            %>
            </div>
            <div class="clearfix"></div>
        </script>

        <!-- resident DOM -->
        <div class="container-fluid">
            <div id="logDetail">
                <div class="header"></div>
                <hr />
                <div class="content">
                    <!-- log items are rendered here -->
                </div>
            </div>
        </div>

        <!-- UserInfo Template-->
        <script type="text/template" id="userInfoTemplate">
            <div id="userInfoData">
                <form action="/logout" method="post" class="form-inline">
                    <p class="form-control-static">Logged in as
                        <% if (userInfo.isAdmin) { %><small class="label label-danger">ADMIN</small> <%}%>
                        <span class="text-primary" data-toggle="tooltip" title="<%- userInfo.principal %>" data-placement="bottom"><%- userInfo.displayName %></span></p>
                    <input type="submit" class="btn btn-sm btn-primary" value="Logout">
                </form>
            </div>
        </script>
        
        <script type="text/javascript">

            /**
             *
             */
            function getLogs(){
                var urlParams = new URLSearchParams(window.location.search);
                var testId = urlParams.get('log');

                $.ajax({
                    type: 'GET',
                    url: "/log/" + encodeURIComponent(testId),
                    data: {},
                    success: function (data) {

                        $.each(data, function(i, item) {

                            // render the base element
                            $('#logDetail .content').append(FAPI_UI.logTemplates.LOG_DETAIL({item:item}));

                            // see if we've got any "extra" bits that we want to display in a block
                            var more = _.pick(item, function(value, key, object) {
                                return !_.contains(FAPI_UI.visibleFields, key)
                                    && !key.startsWith("_")
                                    && key.toLowerCase() != 'testid';
                            });

                            if (!_.isEmpty(more)) {
                                // we have extra fields so let's attach them
                                $('#log-' + item._id + ' .more-info').append(FAPI_UI.logTemplates.MORE({more: more, item: item}));

                                // wire up the button
                                $('#moreBtn-' + item._id).click(function (evt) {
                                    if ($(this).hasClass('activated')) {
                                        // it's already been activated, need to hide things
                                        $('#moreInfo-' + item._id).hide(); // hide the content
                                        $('.glyphicon', this).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                                        $(this).removeClass('activated');
                                    } else {
                                        // need to show the collapsed entity
                                        $('#moreInfo-' + item._id).show(); // show the content
                                        $('.glyphicon', this).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                                        $(this).addClass('activated');
                                    }
                                });
                            }
                        });

                        // this is the page header, fill it in with log details
                        $.ajax({
                            type: 'GET',
                            url: '/info/' + encodeURIComponent(testId),
                            data: {},
                            success: function(data) {
                                if (data.status && data.status.toLowerCase() == "finished") {
                                    FAPI_UI.testResults.finished = true;
                                }

                                if (data.result && data.result.toLowerCase() == "passed") {
                                    FAPI_UI.testResults.passed = true;
                                }

                                $('#logDetail .header').append(FAPI_UI.logTemplates.LOG_START({test: data, summary: FAPI_UI.testResults}));

                                $('[data-toggle="tooltip"]').tooltip({container: 'body'});
                            }
                        });
                    }
                });
            }

            /**
             *
             */
            $(document).ready(function(){
                FAPI_UI.loadTemplates();                // Load the templates
                FAPI_UI.getUserInfoDiv("#userInfoDiv")  // Then get the current user info
                    .done(getLogs());                   // Only once the user is loaded, then render the logs
            });

        </script>


        <footer></footer>
        
    </body>

</html>