/** Generic styles **/
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

.header {
  max-height:80px;
  margin-top: 5px;
  margin-bottom:20px;
  padding-bottom: 10px;
}

h1 {
  font-size: 24px;
  margin: 0 0 5px;
}

h2 {
  font-size: 20px;
  margin:0 0 5px;
}

h3 {
  margin:0;
  padding:10px;
}

a {
  text-decoration: none;
  color: #1bc5f8;
}

a:hover {
  text-decoration: underline; 
}

input[type=text], textarea {
  text-indent:5px;
  border:1px solid #ccc;
}

.wordwrap {
  word-wrap: break-word;  
  word-break: break-all;     
}

/** index.html **/
textarea {
  width:100%;
  height:200px;
}

#alias {
  width:100%;
  margin:15px 0 0px;
}

#launch-buttons button {
  margin:5px 5px 5px 0;
}

.testResult {
  margin:10px 0;
  padding:5px;
  border-radius:5px;
}

.testResult hr {
  border-top: 1px solid #333;
  width:90%;
}

.testResult.result-unknown {
  background-color: #efefef;
}

.testResult.result-failed {
  background-color: #bc827d;
}

.testResult.result-waiting {
  background-color: #eab79c;
}

.testResult.result-passed {
  background-color: #a8c69f;
}

.testResult.result-configured {
  background-color: #d5aee5;
}

.testResult button {
  color:#fff;
  border:2px solid #fff;
}

.testResult button.start {
  background-color: #00ee00;
}

.testResult button.stop {
  background-color: #ee0000;
}

.testResult button.view {
  background-color: #4cc6ea;
}

.browser li {
  padding:5px;
}

.externalURLLink {
  background-color: #111;
  padding:5px;
}

#busy {
  display:none;
  position:fixed;
  top:0;
  left:0;
  z-index:1000;
  width:100vw;
  height:100vh;
  background-color: rgba(0,0,0,0.75);
}

#busy .activityIndicator {
  position:relative;
  width:140px;
  height:140px;
  margin:40vh auto 0;
  text-align: center;
  padding-top:5px;
  color:#000;
  background: #fff url("../images/spinner.gif") center center no-repeat;
  background-size: 100px 100px;
  border-radius: 10px;
}

/* JSON form tabs */
.tab-content {
  padding:0px 12px;
  border:1px solid #ddd;
  border-top:none;
}

.tab-pane {
  padding:0px;
}

.tab-content input {
  width:100%;
}

.tab-content textarea {
  width:100%;
  height:240px;
}

.tab-content .row {
  margin-bottom:10px;
}

#config {
  border:none;
}

/** index.html end **/

/** logs listing **/
#logs {
  margin:0 20px;
}

#logs .content .link {
  margin:5px 0;
}

.listHeader {
  padding:5px 0px 0px;
  background-color:#fff;
  border:1px solid #ddd;
  border-radius: 3px;
}

.logItem {
    border-top: 1px #eee solid;
	border-bottom: 1px #eee solid;
	padding-top: 7px;
	padding-bottom: 3px;
}

.logItem:hover {
	background-color: #f6fefe;
}

.log-source {
	font-family: monospace;
	font-size: 85%;
	color: #666666;
}

.testStatusResultBlock {
	padding: 5px 10px;
	border-radius: 3px;
	margin: 1px;
	text-align: center;
	font-size: 110%;
}

.testStatus-created {
    background-color: #fcd9f6;
    color: black;
}

.testStatus-configured {
	background-color: #d3fffe;
	color: black;
}

.testStatus-running {
    background-color: #6d09e8;
    color: white;
}

.testStatus-waiting {
    background-color: #6ac4c2;
    color: black;
}

.testStatus-interrupted {
    background-color: #b70018;
    color: white;
}

.testStatus-finished {
    background-color: #383647;
    color: black;
}

.testStatus-unknown {
    background-color: #fcd9f6;
    color: black;
}

.testResult-passed {
    background-color: #40e809;
    color: black;
}

.testResult-warning {
    background-color: #d88602;
    color: white;
}

.testResult-failed {
    background-color: black;
    color: white;
}

.testResult-review {
    background-color: #6ac4c2;
    color: black;
}

.testResult-unknown {
    background-color: #fcd9f6;
    color: black;
}

/* to make labels wrap better */
.labelCollection {
	line-height: 2.1em;
}

.moreInfo {
  background: #eee;
  border: thin #C0C0C0 solid;
  border-radius: 4px;
  padding: 6px;
}

.pageFooter {
    padding: 4rem 0;
    margin-top: 4rem;
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7;
}

/* Test result labels */
.label.result-success {
  background-color: #00cc00;
}

.label.result-failure {
  background-color: #cc0000;
}

.label.result-warning {
  background-color: #c0c0c0;
}

.label.result-review {
  background-color: #00ccff;
}

.label.result-interrupted {
  background-color: #ddbb88;
}

.label.result-info {
  background-color: #e2bfce;
}

.label.result-default {
  background-color: #00cc00;
}

/* People on large monitors <= 3000 */
@media all and (max-width : 3000px)  {

  
}


/* Regular desktop/laptop type users & tablet landscape <= 1400 */
@media all and (max-width : 1400px)  {

 

}

/* < Tablet landscape */
@media all and (max-width : 1023px)  {
    header {
      background: transparent url("../images/FinTechLabs.io.png") left center no-repeat;
      background-size: 40% auto;
    }
}

/* <= Phones */
@media all and (max-width : 640px)  {

    header {
      background: transparent url("../images/FinTechLabs.io.png") left center no-repeat;
      background-size: 60% auto;
    }

}

/* <= Phones portrait */
@media all and (max-width : 320px)  {


}

