openapi: 3.0.0
info:
    title: APIs Open Data do Open Insurance Brasil
    description: API de informações de dados do produto Demais Escopos. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.1.2 do manual de escopo de dados..
    version: 1.0.0
    contact:
        url: https://http://novosite.susep.gov.br
servers:
    - url: https://api.organizacao.com.br/open-insurance/products-services/v1
      description: Servidor de Producao
    - url: https://api.organizacao.com.br/open-insurance/products-services/v1
      description: Servidor de Homologacao
tags:
    - name: Demais Escopos
paths:
    /others-scopes/:
        get:
            tags:
                - OthersScopes
            summary: Obtem a lista dos produtos do tipo Demais Escopos
            description: Obtem a lista dos produtos do tipo Demais Escopos - Petróleo, Nucleares, Marítimo e Aeronáutico.
            operationId: getOthersScopes
            parameters:
                - $ref: '#/components/parameters/cache-Control'
                - $ref: '#/components/parameters/content-Security-Policy'
                - $ref: '#/components/parameters/content-Type'
                - $ref: '#/components/parameters/strict-Transport-Security'
                - $ref: '#/components/parameters/x-Content-Type-Options'
                - $ref: '#/components/parameters/x-Frame-Options'
                - $ref: '#/components/parameters/page'
                - $ref: '#/components/parameters/pageSize'
            responses:
                '200':
                    description: Dados dos produtos de Demais Escopos
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ResponseOthersScopesList'
                '204':
                    $ref: '#/components/responses/NoContent'
                '400':
                    $ref: '#/components/responses/BadRequest'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    $ref: '#/components/responses/NotFound'
                '405':
                    $ref: '#/components/responses/MethodNotAllowed'
                '406':
                    $ref: '#/components/responses/NotAcceptable'
                '429':
                    $ref: '#/components/responses/TooManyRequests'
                '500':
                    $ref: '#/components/responses/InternalServerError'
                default:
                    description: Dados dos produtos de API de informações de dados do produto Demais Escopos. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.1.2 do manual de escopo de dados.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ResponseOthersScopesList'
components:
    schemas:
        ResponseOthersScopesList:
            type: object
            required:
                - data
                - links
                - meta
            properties:
                data:
                    type: object
                    required:
                        - brand
                    properties:
                        brand:
                            $ref: '#/components/schemas/OthersScopesBrand'
                links:
                    $ref: '#/components/schemas/Links'
                meta:
                    $ref: '#/components/schemas/Meta'
        OthersScopesBrand:
            type: object
            description: Organizacao controladora do grupo.
            required:
                - name
                - companies
            properties:
                name:
                    type: string
                    description: Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes
                    maxLength: 80
                    example: ACME Group Seguros
                companies:
                    $ref: '#/components/schemas/OthersScopesCompany'
        OthersScopesCompany:
            type: array
            items:
                description: Informações referente a sociedade a qual a marca pertence.
                required:
                    - name
                    - cnpjNumber
                    - products
                properties:
                    name:
                        type: string
                        description: Nome da Instituição pertencente à marca.
                        maxLength: 80
                        example: ABCDE Seguros
                    cnpjNumber:
                        type: string
                        description: CNPJ da sociedade pertencente à marca.
                        maxLength: 14
                        example: '12345678901234'
                    products:
                        $ref: '#/components/schemas/OthersScopesProduct'
        OthersScopesProduct:
            type: array
            description: Lista de produtos de uma empresa.
            items:
                type: object
                required:
                    - code
                    - coverages
                    - traits
                    - validity
                    - termsAndConditions
                    - minimumRequirements
                properties:
                    name:
                        type: string
                        description: Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.
                        maxLength: 80
                        example: Produto de Seguro
                    code:
                        type: string
                        description: Código único a ser definido pela sociedade.
                        maxLength: 80
                        example: 01234589-0
                    coverages:
                        type: array
                        items:
                            type: object
                            required:
                                - coverage
                                - coverageDescription
                                - allowApartPurchase
                                - coverageAttributes
                            properties:
                                coverage:
                                    type: string
                                    maxLength: 115
                                    description: Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas, conforme Tabela II.18 do Anexo II.
                                    enum:
                                        - CASCO
                                        - RESPONSABILIDADE_CIVIL_FACULTATIVA
                                        - RESPONSABILIDADE_CIVIL_AEROPORTUARIA
                                        - RESPONSABILIDADE_DO_EXPLORADOR_E_TRANSPORTADOR_AEREO_RETA
                                        - BASICA_DANOS_MATERIAIS_A_EMBARCACAO_COBERTURA_DE_ASSISTENCIA_E_SALVAMENTO_COBERTURA_DE_COLOCACAO_E_RETIRADA_DA_AGUA
                                        - BASICA_DE_OPERADOR_PORTUARIO_DANOS_MATERIAIS_E_CORPORAIS_A_TERCEIROS
                                        - DANOS_ELETRICOS
                                        - DANOS_FISICOS_A_BENS_MOVEIS_E_IMOVEIS
                                        - DANOS_MORAIS
                                        - DESPESAS_COM_HONORARIOS_DE_ESPECIALISTAS
                                        - EXTENSAO_DO_LIMITE_DE_NAVEGACAO
                                        - GUARDA_DE_EMBARCACOES
                                        - LIMITE_DE_NAVEGACAO
                                        - PARTICIPACAO_EM_EVENTOS_FEIRAS_EXPOSICOES_REGATAS_A_VELA_COMPETICOES_DE_PESCA_OU_COMPETICOES_DE_VELOCIDADE
                                        - PERDA_DE_RECEITA_BRUTA_E_OU_DESPESAS_ADICIONAIS_OU_EXTRAORDINARIAS
                                        - PERDA_E_OU_PAGAMENTO_DE_ALUGUEL
                                        - REMOCAO_DE_DESTROCOS
                                        - RESPONSABILIDADE_CIVIL
                                        - ROUBO_E_OU_FURTO_QUALIFICADO_ACESSORIOS_FIXOS_OU_NAO_FIXOS_TOTAL_OU_PARCIAL
                                        - SEGURO_DE_CONSTRUTORES_NAVAIS
                                        - TRANSPORTE_TERRESTRE
                                        - RISCOS_DE_PETROLEO
                                        - RISCOS_NUCLEARES
                                        - OUTRAS
                                    example: CASCO
                                coverageDescription:
                                    type: string
                                    maxLength: 3000
                                    description: Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos a ser feito por cada participante
                                allowApartPurchase:
                                    type: boolean
                                    description: Cobertura - Permissão para Contratação Separada
                                coverageAttributes:
                                    $ref: '#/components/schemas/OthersScopesCoverageAttributes'
                    traits:
                        description: Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação
                        type: boolean
                        example: false
                    termsAndConditions:
                        $ref: '#/components/schemas/OthersScopesTerms'
                    validity:
                        $ref: '#/components/schemas/OthersScopesValidity'
                    premiumRates:
                        description: Distribuição de frequência relativa aos valores referentes às taxas cobradas, nos termos do Anexo III.
                        type: array
                        items:
                            type: string
                            maxLength: 1024
                    minimumRequirements:
                        $ref: '#/components/schemas/OthersScopesMinimumRequirements'
        OthersScopesCoverageAttributes:
            type: object
            description: Informações de cobertura do Seguro.
            required:
                - maxLMI
            properties:
                maxLMI:
                    $ref: '#/components/schemas/OthersScopesCoverageAttributesDetails'
        OthersScopesCoverageAttributesDetailsUnit:
            type: object
            required:
                - code
                - description
            properties:
                code:
                    type: string
                    maxLength: 2
                    example: R$
                description:
                    type: string
                    maxLength: 5
                    example: REAL
        OthersScopesCoverageAttributesDetails:
            type: object
            required:
                - amount
                - unit
            properties:
                amount:
                    type: number
                    maxLength: 36
                unit:
                    $ref: '#/components/schemas/OthersScopesCoverageAttributesDetailsUnit'
        OthersScopesValidity:
            type: object
            required:
                - term
            properties:
                term:
                    type: array
                    items:
                        type: string
                        maxLength: 23
                        description: Prazo
                        example: ANUAL
                        enum:
                            - ANUAL
                            - ANUAL_INTERMITENTE
                            - PLURIANUAL
                            - PLURIANUAL_INTERMITENTE
                            - MENSAL
                            - MENSAL_INTERMITENTE
                            - DIARIO
                            - DIARIO_INTERMITENTE
                            - OUTROS
                termOthers:
                    type: string
                    description: Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).
                    maxLength: 100
        OthersScopesTerms:
            type: object
            description: Informações dos termos e condições conforme número do processo SUSEP.
            properties:
                susepProcessNumber:
                    description: Número do processo Susep
                    type: string
                    maxLength: 20
                    example: 15414622222222222
                definition:
                    type: string
                    description: Campo aberto (possibilidade de incluir uma url).
                    maxLength: 1024
                    example: https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf
        OthersScopesMinimumRequirements:
            type: object
            description: Requisitos mínimos.
            required:
                - targetAudiences
            properties:
                targetAudiences:
                    description: Público Alvo
                    type: array
                    items:
                        type: string
                        maxLength: 15
                        example: PESSOA_FISICA
                        enum:
                            - PESSOA_FISICA
                            - PESSOA_JURIDICA
        Links:
            type: object
            properties:
                self:
                    type: string
                    description: URL da página atualmente requisitada
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
                first:
                    type: string
                    description: URL da primeira página de registros
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
                prev:
                    type: string
                    description: URL da página anterior de registros
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
                next:
                    type: string
                    description: URL da próxima página de registros
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
                last:
                    type: string
                    description: URL da última página de registros
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
        Meta:
            type: object
            properties:
                totalRecords:
                    type: integer
                    description: Total de registros encontrados
                    example: 10
                totalPages:
                    type: integer
                    description: Total de páginas para os registros encontrados
                    example: 1
            required:
                - totalRecords
                - totalPages
        ResponseError:
            type: object
            required:
                - errors
            properties:
                errors:
                    type: array
                    minItems: 1
                    maxItems: 13
                    items:
                        type: object
                        required:
                            - code
                            - title
                            - detail
                        properties:
                            code:
                                description: Código de erro específico do endpoint
                                type: string
                                pattern: '[\w\W\s]*'
                                maxLength: 255
                            title:
                                description: Título legível por humanos deste erro específico
                                type: string
                                maxLength: 255
                            detail:
                                description: Descrição legível por humanos deste erro específico
                                type: string
                                maxLength: 2048
                            requestDateTime:
                                description: Data e hora da consulta, conforme especificação RFC-3339, formato UTC.
                                type: string
                                maxLength: 2048
                                format: date-time
                                example: '2021-08-20T08:30:00Z'
                        additionalProperties: false
                meta:
                    $ref: '#/components/schemas/Meta'
            additionalProperties: false
    parameters:
        page:
            name: page
            in: query
            description: Número da página que está sendo requisitada (o valor da primeira página é 1).
            schema:
                type: integer
                default: 1
                minimum: 1
        pageSize:
            name: page-size
            in: query
            description: Quantidade total de registros por páginas.
            schema:
                type: integer
                default: 10
                minimum: 1
        cache-Control:
            name: cache-control
            in: header
            description: Controle de cache para evitar que informações confidenciais sejam armazenadas em cache.
            required: true
            schema:
                type: string
                pattern: '[\w\W\s]*'
        content-Security-Policy:
            name: Content-Security-Policy
            in: header
            description: Campo para proteção contra ataques clickjack do estilo - drag and drop.
            schema:
                type: string
                pattern: '[\w\W\s]*'
        content-Type:
            name: content-Type
            in: header
            description: Especificar o tipo de conteúdo da resposta.
            schema:
                type: string
                pattern: '[\w\W\s]*'
        strict-Transport-Security:
            name: Strict-Transport-Security
            in: header
            description: Campo para exigir conexões por HTTPS e proteger contra certificados falsificados.
            schema:
                type: string
                pattern: '[\w\W\s]*'
        x-Content-Type-Options:
            name: X-Content-Type-Options
            in: header
            description: Campo para evitar que navegadores executem a detecção de MIME e interpretem respostas como HTML de forma inadequada.
            schema:
                type: string
                pattern: '[\w\W\s]*'
        x-Frame-Options:
            name: X-Frame-Options
            in: header
            description: Campo indica se o navegador deve ou não renderizar um frame.
            schema:
                type: string
                pattern: '[\w\W\s]*'
    securitySchemes:
        OpenId:
            type: openIdConnect
            openIdConnectUrl: https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration
        OAuth2Security:
            type: oauth2
            description: Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Inclui o processo de redirecionamento e autenticação do usuário a que se referem os dados.
            flows:
                authorizationCode:
                    authorizationUrl: https://authserver.example/authorization
                    tokenUrl: https://authserver.example/token
                    scopes:
                        financings: Escopo necessário para acesso à API. O controle dos endpoints específicos é feito via permissions.
    responses:
        NoContent:
            description: O recurso solicitado não existe ou não foi localizado.
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        BadRequest:
            description: A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        Forbidden:
            description: O token tem escopo incorreto ou uma política de segurança foi violada
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        InternalServerError:
            description: Ocorreu um erro no gateway da API ou no microsserviço
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        MethodNotAllowed:
            description: O consumidor tentou acessar o recurso com um método não suportado
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        NotAcceptable:
            description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        NotFound:
            description: O recurso solicitado não existe ou não foi implementado
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        TooManyRequests:
            description: A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        Unauthorized:
            description: Cabeçalho de autenticação ausente/inválido ou token inválido
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
