openapi: 3.0.0
info:
    title: APIs Open Data do Open Insurance Brasil
    description: API de informações de dados do produto Risco Cibernético. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.1.2 do manual de escopo de dados..
    version: 1.0.0
    contact:
        url: https://http://novosite.susep.gov.br
servers:
    - url: https://api.organizacao.com.br/open-insurance/products-services/v1
      description: Servidor de Producao
    - url: https://api.organizacao.com.br/open-insurance/products-services/v1
      description: Servidor de Homologacao
tags:
    - name: Risco Cibernético
paths:
    /cyber-risk/:
        get:
            tags:
                - CyberRisk
            summary: Obtem a lista dos produtos do tipo Risco Cibernético
            description: Obtem a lista dos produtos do tipo Risco Cibernético
            operationId: getCyberRisk
            parameters:
                - $ref: '#/components/parameters/cache-Control'
                - $ref: '#/components/parameters/content-Security-Policy'
                - $ref: '#/components/parameters/content-Type'
                - $ref: '#/components/parameters/strict-Transport-Security'
                - $ref: '#/components/parameters/x-Content-Type-Options'
                - $ref: '#/components/parameters/x-Frame-Options'
                - $ref: '#/components/parameters/page'
                - $ref: '#/components/parameters/pageSize'
            responses:
                '200':
                    description: Dados dos produtos de Risco Cibernético
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ResponseCyberRiskList'
                '204':
                    $ref: '#/components/responses/NoContent'
                '400':
                    $ref: '#/components/responses/BadRequest'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    $ref: '#/components/responses/NotFound'
                '405':
                    $ref: '#/components/responses/MethodNotAllowed'
                '406':
                    $ref: '#/components/responses/NotAcceptable'
                '429':
                    $ref: '#/components/responses/TooManyRequests'
                '500':
                    $ref: '#/components/responses/InternalServerError'
                default:
                    description: Dados dos produtos de API de informações de dados do produto Risco Cibernético. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.1.2 do manual de escopo de dados.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ResponseCyberRiskList'
components:
    schemas:
        ResponseCyberRiskList:
            type: object
            required:
                - data
                - links
                - meta
            properties:
                data:
                    type: object
                    required:
                        - brand
                    properties:
                        brand:
                            $ref: '#/components/schemas/CyberRiskBrand'
                links:
                    $ref: '#/components/schemas/Links'
                meta:
                    $ref: '#/components/schemas/Meta'
        CyberRiskBrand:
            type: object
            description: Organizacao controladora do grupo.
            required:
                - name
                - companies
            properties:
                name:
                    type: string
                    description: Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes
                    maxLength: 80
                    example: ACME Group Seguros
                companies:
                    $ref: '#/components/schemas/CyberRiskCompany'
        CyberRiskCompany:
            type: array
            items:
                description: Informações referente a sociedade a qual a marca pertence.
                required:
                    - name
                    - cnpjNumber
                    - products
                properties:
                    name:
                        type: string
                        description: Nome da sociedade pertencente à marca.
                        maxLength: 80
                        example: ACME Seguros
                    cnpjNumber:
                        type: string
                        description: CNPJ da sociedade pertencente à marca.
                        maxLength: 14
                        example: '12345678901234'
                    products:
                        $ref: '#/components/schemas/CyberRiskProduct'
        CyberRiskProduct:
            type: array
            description: Lista de produtos de uma empresa.
            items:
                type: object
                required:
                    - name
                    - code
                    - coverages
                    - allowApartPurchase
                    - maxLMGDescription
                    - maxLMG
                    - traits
                    - validity
                    - termsAndConditions
                    - minimumRequirements
                properties:
                    name:
                        type: string
                        description: Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.
                        maxLength: 80
                        example: Produto de Seguro
                    code:
                        type: string
                        description: Código único a ser definido pela sociedade.
                        maxLength: 100
                        example: 01234589-0
                    coverages:
                        type: array
                        items:
                            type: object
                            required:
                                - coverage
                                - coverageDescription
                                - coverageAttributes
                            properties:
                                coverage:
                                    type: string
                                    description: Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas
                                    maxLength: 55
                                    enum:
                                        - RESPONSABILIDADE_CIVIL_PERANTE_TERCEIROS
                                        - PERDAS_DIRETAS_AO_SEGURADO
                                        - GERENCIAMENTO_DE_CRISE
                                        - OUTRAS
                                coverageDescription:
                                    type: string
                                    maxLength: 3000
                                    description: Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos a ser feito por cada participante
                                coverageAttributes:
                                    $ref: '#/components/schemas/CyberRiskCoverageAttributes'
                    allowApartPurchase:
                        type: boolean
                        description: Indicação se a cobertura permite contratação separada (por cobertura selecionada).
                        example: true
                    maxLMGDescription:
                        description: 'Lista com valor de LMG aceito pela sociedade para cada produto. Em reais (R$) Campo aberto para descrição da composição do Limite Máximo de Garantia (LMG) por produto Importante: Campo aberto relacionado ao produto que possui o campo. Quando não houver o campo, enviar ''Não se aplica''.'
                        type: string
                        maxLength: 1024
                    maxLMG:
                        description: No caso de contratação de várias coberturas numa mesma apólice, é comum o contrato estabelecer, para cada uma delas, um distinto limite máximo de responsabilidade por parte da seguradora. Cada um deles é denominado o Limite Máximo de Garantia (que está subordinada ao total apresentado no LMI), de cada cobertura contratada. Ressalte-se que estes limites são independentes, não se somando nem se comunicando, no entanto o total indenizado não pode superar o LMI. (Circular SUSEP 291/05); Lista com valor de LMG aceito pela sociedade para cada cobertura. Em reais (R$)
                        $ref: '#/components/schemas/CyberRiskCoverageAttributesDetails'
                    additional:
                        type: array
                        description: Campo aberto para descrição dos adicionais dos produtos
                        items:
                            description: A considerar os seguintes domínios abaixo
                            type: string
                            maxLength: 19
                            enum:
                                - SORTEIO_(GRATUITO)
                                - CLUBE_DE_BENEFICIOS
                                - CASHBACK
                                - DESCONTOS
                                - OUTROS
                    additionalOthers:
                        type: string
                        maxLength: 100
                        description: Campo aberto para descrição de cada participante ao selecionar o domínio ‘Outros’ no campo acima ‘Adicionais’
                    traits:
                        type: boolean
                        description: O produto é classificado como Grandes Riscos?
                        example: true
                    validity:
                        $ref: '#/components/schemas/CyberRiskValidity'
                    premiumPayment:
                        $ref: '#/components/schemas/CyberRiskPremiumPayment'
                    termsAndConditions:
                        $ref: '#/components/schemas/CyberRiskTerms'
                    minimumRequirements:
                        $ref: '#/components/schemas/CyberRiskMinimumRequirements'
        CyberRiskValidity:
            type: object
            required:
                - term
            properties:
                term:
                    type: array
                    items:
                        type: string
                        description: Prazo de vigência do seguro contratado Intervalo contínuo de tempo durante o qual está em vigor o contrato de seguro. (RESOLUÇÃO CNSP Nº 341/2016).
                        maxLength: 23
                        example: ANUAL
                        enum:
                            - ANUAL
                            - ANUAL_INTERMITENTE
                            - PLURIANUAL
                            - PLURIANUAL_INTERMITENTE
                            - MENSAL
                            - MENSAL_INTERMITENTE
                            - DIARIO
                            - DIARIO_INTERMITENTE
                            - OUTROS
                termOthers:
                    type: string
                    description: Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).
                    maxLength: 1024
        CyberRiskPremiumPayment:
            type: object
            required:
                - paymentMethod
                - paymentType
            properties:
                paymentMethod:
                    type: array
                    items:
                        type: string
                        description: Metodo de pagamento
                        maxLength: 33
                        enum:
                            - CARTAO_DE_CREDITO
                            - CARTAO_DE_DEBITO
                            - DEBITO_EM_CONTA_CORRENTE
                            - DEBITO_EM_CONTA_POUPANCA
                            - BOLETO_BANCARIO
                            - PIX
                            - CONSIGNACAO_EM_FOLHA_DE_PAGAMENTO
                            - PONTOS_DE_PROGRAMA_DE_BENEFICIO
                            - OUTROS
                paymentDetail:
                    type: string
                    description: Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Meio de pagamento (acima)
                    maxLength: 100
                paymentType:
                    type: array
                    description: Forma de pagamento
                    items:
                        type: string
                        maxLength: 9
                        example: A_VISTA
                        enum:
                            - A_VISTA
                            - PARCELADO
                premiumRates:
                    type: array
                    description: Faixa de Preço, conforme estabelecido no inciso VII do Art. 2º do Anexo III da Circular SUSEP 635/2021, inclusive sobre sua faculdade para alguns produtos
                    items:
                        type: string
                        maxLength: 1024
        CyberRiskTerms:
            type: object
            description: Informações dos termos e condições conforme número do processo SUSEP.
            properties:
                susepProcessNumber:
                    type: string
                    description: Número do processo SUSEP.
                    maxLength: 20
                    example: 15414.622222/2222-22
                definition:
                    type: string
                    description: Campo aberto (possibilidade de incluir uma url).
                    maxLength: 1024
                    example: https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf
        CyberRiskMinimumRequirements:
            type: object
            description: Requisitos mínimos.
            required:
                - contractType
                - minimumRequirementDetails
                - targetAudiences
            properties:
                contractType:
                    type: array
                    description: Tipo de contratação
                    items:
                        type: string
                        maxLength: 10
                        enum:
                            - COLETIVO
                            - INDIVIDUAL
                minimumRequirementDetails:
                    type: string
                    maxLength: 1024
                    description: Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).
                targetAudiences:
                    description: Público Alvo
                    type: array
                    items:
                        description: 'Público a quem se destina o produto, podendo ser Pessoa Natural ou Pessoa Jurídica ou ambos:'
                        type: string
                        maxLength: 15
                        example: PESSOA_NATURAL
                        enum:
                            - PESSOA_NATURAL
                            - PESSOA_JURIDICA
        CyberRiskCoverageAttributes:
            type: object
            description: Informações de cobertura do Seguro.
            required:
                - maxLMI
                - insuredParticipation
                - idenizationBasis
            properties:
                maxLMI:
                    description: 'Lista com valor de LMI aceito pela sociedade para cada cobertura. Em reais (R$) Importante: Campo de valor numérico relacionado à cobertura que possui o campo. Quando não houver o campo, enviar o valor zerado.'
                    $ref: '#/components/schemas/CyberRiskCoverageAttributesDetails'
                insuredParticipation:
                    type: array
                    items:
                        type: string
                        description: Indicação se a participação do segurado (por cobertura selecionada) é por
                        maxLength: 13
                        example: FRANQUIA
                        enum:
                            - FRANQUIA
                            - POS
                            - NAO_SE_APLICA
                            - OUTROS
                insuredParticipationOthers:
                    type: string
                    maxLength: 100
                    description: Campo livre para descrição por cada participante ao selecionar o domínio 'Outros' no campo Participação do segurado
                insuredParticipationDescription:
                    type: string
                    maxLength: 1024
                    description: Campo aberto para descever a franquia ou POS
                idenizationBasis:
                    type: string
                    description: Indica a base de indenização da cobertura
                    maxLength: 14
                    example: POR_OCORRENCIA
                    enum:
                        - POR_OCORRENCIA
                        - POR_RECLAMACAO
                        - OUTRAS
                idenizationBasisOthers:
                    type: string
                    maxLength: 100
                    description: Campo livre para descrição, caso o valor do campo '"Base de indenização' seja 3. Outros
        CyberRiskCoverageAttributesDetails:
            type: object
            required:
                - amount
                - unit
            properties:
                amount:
                    type: number
                unit:
                    $ref: '#/components/schemas/CyberRiskCoverageAttributesDetailsUnit'
        CyberRiskCoverageAttributesDetailsUnit:
            type: object
            required:
                - code
                - description
            properties:
                code:
                    type: string
                    maxLength: 2
                    example: R$
                description:
                    type: string
                    maxLength: 5
                    example: REAL
        CyberRiskCoverageAttributesPercentageDetails:
            type: object
            required:
                - amount
                - unit
            properties:
                amount:
                    type: number
                unit:
                    $ref: '#/components/schemas/CyberRiskCoverageAttributesPercentageDetailsUnit'
        CyberRiskCoverageAttributesPercentageDetailsUnit:
            type: object
            required:
                - code
                - description
            properties:
                code:
                    type: string
                    maxLength: 1
                    example: '%'
                description:
                    type: string
                    maxLength: 10
                    example: PERCENTUAL
        Links:
            type: object
            properties:
                self:
                    type: string
                    description: URL da página atualmente requisitada
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
                first:
                    type: string
                    description: URL da primeira página de registros
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
                prev:
                    type: string
                    description: URL da página anterior de registros
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
                next:
                    type: string
                    description: URL da próxima página de registros
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
                last:
                    type: string
                    description: URL da última página de registros
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
        Meta:
            type: object
            properties:
                totalRecords:
                    type: integer
                    description: Total de registros encontrados
                    example: 10
                totalPages:
                    type: integer
                    description: Total de páginas para os registros encontrados
                    example: 1
            required:
                - totalRecords
                - totalPages
        ResponseError:
            type: object
            required:
                - errors
            properties:
                errors:
                    type: array
                    minItems: 1
                    maxItems: 13
                    items:
                        type: object
                        required:
                            - code
                            - title
                            - detail
                        properties:
                            code:
                                description: Código de erro específico do endpoint
                                type: string
                                pattern: '[\w\W\s]*'
                                maxLength: 255
                            title:
                                description: Título legível por humanos deste erro específico
                                type: string
                                maxLength: 255
                            detail:
                                description: Descrição legível por humanos deste erro específico
                                type: string
                                maxLength: 2048
                            requestDateTime:
                                description: Data e hora da consulta, conforme especificação RFC-3339, formato UTC.
                                type: string
                                maxLength: 2048
                                format: date-time
                                example: '2021-08-20T08:30:00Z'
                        additionalProperties: false
                meta:
                    $ref: '#/components/schemas/Meta'
            additionalProperties: false
    parameters:
        page:
            name: page
            in: query
            description: Número da página que está sendo requisitada (o valor da primeira página é 1).
            schema:
                type: integer
                default: 1
                minimum: 1
        pageSize:
            name: page-size
            in: query
            description: Quantidade total de registros por páginas.
            schema:
                type: integer
                default: 10
                minimum: 1
        cache-Control:
            name: cache-control
            in: header
            description: Controle de cache para evitar que informações confidenciais sejam armazenadas em cache.
            required: true
            schema:
                type: string
                pattern: '[\w\W\s]*'
        content-Security-Policy:
            name: Content-Security-Policy
            in: header
            description: Campo para proteção contra ataques clickjack do estilo - drag and drop.
            schema:
                type: string
                pattern: '[\w\W\s]*'
        content-Type:
            name: content-Type
            in: header
            description: Especificar o tipo de conteúdo da resposta.
            schema:
                type: string
                pattern: '[\w\W\s]*'
        strict-Transport-Security:
            name: Strict-Transport-Security
            in: header
            description: Campo para exigir conexões por HTTPS e proteger contra certificados falsificados.
            schema:
                type: string
                pattern: '[\w\W\s]*'
        x-Content-Type-Options:
            name: X-Content-Type-Options
            in: header
            description: Campo para evitar que navegadores executem a detecção de MIME e interpretem respostas como HTML de forma inadequada.
            schema:
                type: string
                pattern: '[\w\W\s]*'
        x-Frame-Options:
            name: X-Frame-Options
            in: header
            description: Campo indica se o navegador deve ou não renderizar um frame.
            schema:
                type: string
                pattern: '[\w\W\s]*'
    securitySchemes:
        OpenId:
            type: openIdConnect
            openIdConnectUrl: https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration
        OAuth2Security:
            type: oauth2
            description: Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Inclui o processo de redirecionamento e autenticação do usuário a que se referem os dados.
            flows:
                authorizationCode:
                    authorizationUrl: https://authserver.example/authorization
                    tokenUrl: https://authserver.example/token
                    scopes:
                        financings: Escopo necessário para acesso à API. O controle dos endpoints específicos é feito via permissions.
    responses:
        NoContent:
            description: O recurso solicitado não existe ou não foi localizado.
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        BadRequest:
            description: A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        Forbidden:
            description: O token tem escopo incorreto ou uma política de segurança foi violada
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        InternalServerError:
            description: Ocorreu um erro no gateway da API ou no microsserviço
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        MethodNotAllowed:
            description: O consumidor tentou acessar o recurso com um método não suportado
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        NotAcceptable:
            description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        NotFound:
            description: O recurso solicitado não existe ou não foi implementado
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        TooManyRequests:
            description: A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        Unauthorized:
            description: Cabeçalho de autenticação ausente/inválido ou token inválido
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
