openapi: 3.0.0
info:
    title: APIs Open Data do Open Insurance Brasil
    description: API de informações de dados do produto Rede Referenciada. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.1.2 do manual de escopo de dados..
    version: 1.0.0
    contact:
        url: https://http://novosite.susep.gov.br
servers:
    - url: https://api.organizacao.com.br/open-insurance/products-services/v1
      description: Servidor de Producao
    - url: https://api.organizacao.com.br/open-insurance/products-services/v1
      description: Servidor de Homologacao
tags:
    - name: Rede Referenciada
paths:
    /referenced-network/{countrySubDivision}/{serviceType}:
        get:
            tags:
                - ReferencedNetwork
            summary: Obtem a lista dos produtos do tipo Rede Referenciada
            description: Obtem a lista dos produtos do tipo Rede Referenciada
            operationId: getReferencedNetwork
            parameters:
                - $ref: '#/components/parameters/cache-Control'
                - $ref: '#/components/parameters/content-Security-Policy'
                - $ref: '#/components/parameters/content-Type'
                - $ref: '#/components/parameters/strict-Transport-Security'
                - $ref: '#/components/parameters/x-Content-Type-Options'
                - $ref: '#/components/parameters/x-Frame-Options'
                - $ref: '#/components/parameters/page'
                - $ref: '#/components/parameters/pageSize'
                - $ref: '#/components/parameters/countrySubDivision'
                - $ref: '#/components/parameters/serviceType'
            responses:
                '200':
                    description: Dados dos produtos de Rede Referenciada
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ResponseReferencedNetworkList'
                '204':
                    $ref: '#/components/responses/NoContent'
                '400':
                    $ref: '#/components/responses/BadRequest'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    $ref: '#/components/responses/NotFound'
                '405':
                    $ref: '#/components/responses/MethodNotAllowed'
                '406':
                    $ref: '#/components/responses/NotAcceptable'
                '429':
                    $ref: '#/components/responses/TooManyRequests'
                '500':
                    $ref: '#/components/responses/InternalServerError'
                default:
                    description: Dados dos produtos de API de informações de dados do produto Rede Referenciada. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.1.2 do manual de escopo de dados.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ResponseReferencedNetworkList'
components:
    schemas:
        ResponseReferencedNetworkList:
            type: object
            required:
                - data
                - links
                - meta
            properties:
                data:
                    type: object
                    required:
                        - brand
                    properties:
                        brand:
                            $ref: '#/components/schemas/ReferencedNetworkBrand'
                links:
                    $ref: '#/components/schemas/Links'
                meta:
                    $ref: '#/components/schemas/Meta'
        ReferencedNetworkBrand:
            type: object
            description: Organizacao controladora do grupo.
            required:
                - name
                - companies
            properties:
                name:
                    type: string
                    description: Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes
                    maxLength: 80
                    example: ACME Group Seguros
                companies:
                    $ref: '#/components/schemas/ReferencedNetworkCompany'
        ReferencedNetworkCompany:
            type: array
            items:
                description: Informações referente a sociedade a qual a marca pertence.
                required:
                    - name
                    - cnpjNumber
                    - identification
                properties:
                    name:
                        type: string
                        description: Nome da sociedade pertencente à marca.
                        maxLength: 80
                        example: ACME Seguros
                    cnpjNumber:
                        type: string
                        description: CNPJ da sociedade pertencente à marca.
                        maxLength: 14
                        example: '12345678901234'
                    identification:
                        $ref: '#/components/schemas/ReferencedNetworkIdentification'
        ReferencedNetworkIdentification:
            type: array
            items:
                description: Informações referente a identificação.
                required:
                    - name
                    - cnpjNumber
                    - products
                    - postalAddress
                    - services
                properties:
                    name:
                        type: string
                        maxLength: 80
                        description: Nome ou razão social do prestador de serviço
                        example: Empresa B
                    cnpjNumber:
                        type: string
                        maxLength: 14
                        description: CNPJ do prestador de serviço
                        example: 12341234123412
                    products:
                        $ref: '#/components/schemas/ReferencedNetworkProduct'
                    postalAddress:
                        $ref: '#/components/schemas/ReferencedNetworkCoveragePostalAddress'
                    access:
                        $ref: '#/components/schemas/ReferencedNetworkAccess'
                    services:
                        $ref: '#/components/schemas/ReferencedNetworkServices'
        ReferencedNetworkProduct:
            type: array
            description: Lista de produtos de uma empresa.
            items:
                type: object
                required:
                    - code
                    - name
                properties:
                    code:
                        type: string
                        description: Listagem de código de identificação do produto (vide seção 3 do Manual de Dados e Serviços) que possui atendimento pelo prestador de serviço.
                        maxLength: 100
                        example: 01234589-0
                    name:
                        type: string
                        description: Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.
                        maxLength: 80
                        example: Produto de Seguro
                    coverage:
                        type: array
                        description: Indicação da lista de coberturas, caso a distinção do atendimento pelo prestador de serviço se aplique para diferentes coberturas de um mesmo produto.
                        items:
                            type: string
                            maxLength: 150
        ReferencedNetworkCoveragePostalAddress:
            type: array
            items:
                type: object
                required:
                    - address
                    - townName
                    - ibgeCode
                    - countrySubDivision
                    - postCode
                properties:
                    address:
                        type: string
                        maxLength: 150
                        description: 'Deverá trazer toda a informação referente ao endereço do intermediário: Tipo de logradouro + Nome do logradouro + Número do Logradouro (se não existir usar '' s/n'') + complemento (se houver), como, p.ex.: ''R Diamantina, 59, bloco 35, fundos’ ''Praça da Boa Vontade s/n'''
                        example: '''Rua Diamantina, 59, bloco 35'' Praça da Boa Vontade, s/n'
                    additionalInfo:
                        type: string
                        maxLength: 30
                        description: 'Alguns logradouros ainda necessitam ser especificados por meio de complemento, conforme o exemplo a seguir: ''Loja B'', ''Fundos'', ''Casa 2'', ''Lote C'''
                        example: Loja B
                    districtName:
                        type: string
                        maxLength: 50
                        description: 'Bairro é uma comunidade ou região localizada em uma cidade ou município de acordo com as suas subdivisões geográficas. p.ex: ''Paraíso'''
                        example: Paraíso
                    townName:
                        type: string
                        maxLength: 50
                        description: 'Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado. p.ex. ''São Paulo'''
                        example: São Paulo
                    ibgeCode:
                        type: string
                        maxLength: 7
                        description: 7 dígitos (o último é um código verificador).
                    countrySubDivision:
                        type: string
                        maxLength: 2
                        description: 'Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. ''AC''. São consideradas apenas as siglas para os estados brasileiros:'
                        example: AC
                        enum:
                            - AC
                            - AL
                            - AP
                            - AM
                            - BA
                            - CE
                            - DF
                            - ES
                            - GO
                            - MA
                            - MT
                            - MS
                            - MG
                            - PA
                            - PB
                            - PR
                            - PE
                            - PI
                            - RJ
                            - RN
                            - RS
                            - RO
                            - RR
                            - SC
                            - SP
                            - SE
                            - TO
                    postCode:
                        type: string
                        maxLength: 8
                        description: 'Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios. p.ex. ''01311000'''
                        example: 1310200
                    country:
                        type: string
                        maxLength: 46
                        description: Lista de países vide aba 'Lista de países'
                        enum:
                            - ANDORRA
                            - EMIRADOS_ARABES_UNIDOS
                            - AFEGANISTAO
                            - ANTIGUA_E_BARBUDA
                            - ANGUILLA
                            - ALBANIA
                            - ARMENIA
                            - ANTILHAS_HOLANDESAS
                            - ANGOLA
                            - ANTARTIDA
                            - ARGENTINA
                            - SAMOA_AMERICANA
                            - AUSTRIA
                            - AUSTRALIA
                            - ARUBA
                            - ILHAS_ALAND
                            - AZERBAIJAO
                            - BOSNIA_HERZEGOVINA
                            - BARBADOS
                            - BANGLADESH
                            - BELGICA
                            - BURKINA_FASSO
                            - BULGARIA
                            - BAHREIN
                            - BURUNDI
                            - BENIN
                            - SAO_BARTOLOMEU
                            - BERMUDAS
                            - BRUNEI
                            - BOLIVIA
                            - BONAIRE_SINT_EUSTATIUS_E_SABA
                            - BRASIL
                            - BAHAMAS
                            - BUTAO
                            - ILHA_BOUVET_TERRITORIO_DA_NORUEGA
                            - BOTSUANA
                            - BELARUS
                            - BELIZE
                            - CANADA
                            - ILHAS_COCOS
                            - REPUBLICA_DEMOCRATICA_DO_CONGO_EX_ZAIRE
                            - REPUBLICA_CENTRO_AFRICANA
                            - CONGO
                            - SUICA
                            - COSTA_DO_MARFIM
                            - ILHAS_COOK
                            - CHILE
                            - CAMAROES
                            - CHINA
                            - COLOMBIA
                            - COSTA_RICA
                            - CUBA
                            - CABO_VERDE
                            - CURACAO
                            - ILHA_NATAL
                            - CHIPRE
                            - REPUBLICA_TCHECA
                            - ALEMANHA
                            - DJIBUTI
                            - DINAMARCA
                            - DOMINICA
                            - REPUBLICA_DOMINICANA
                            - ARGELIA
                            - EQUADOR
                            - ESTONIA
                            - EGITO
                            - SAARA_OCIDENTAL_EX_SPANISH_SAHARA
                            - ERITREIA
                            - ESPANHA
                            - ETIOPIA
                            - FINLANDIA
                            - FIJI
                            - ILHAS_FALKLAND_MALVINAS
                            - MICRONESIA
                            - ILHAS_FAROES
                            - FRANCA
                            - GABAO
                            - GRA_BRETANHA_REINO_UNIDO_UK
                            - GRANADA
                            - GEORGIA
                            - GUIANA_FRANCESA
                            - GUERNSEY
                            - GANA
                            - GIBRALTAR
                            - GROELANDIA
                            - GAMBIA
                            - GUINE
                            - GUADALUPE
                            - GUINE_EQUATORIAL
                            - GRECIA
                            - ILHAS_GEORGIA_DO_SUL_E_SANDWICH_DO_SUL
                            - GUATEMALA
                            - GUAM_TERRITORIO_DOS_ESTADOS_UNIDOS
                            - GUINE_BISSAU
                            - GUIANA
                            - HONG_KONG
                            - ILHAS_HEARD_E_MCDONALD_TERRITORIO_DA_AUSTRALIA
                            - HONDURAS
                            - CROACIA_HRVATSKA
                            - HAITI
                            - HUNGRIA
                            - INDONESIA
                            - IRLANDA
                            - ISRAEL
                            - ILHA_DO_HOMEM
                            - INDIA
                            - TERRITORIO_BRITANICO_DO_OCEANO_INDICO
                            - IRAQUE
                            - IRA
                            - ISLANDIA
                            - ITALIA
                            - JERSEY
                            - JAMAICA
                            - JORDANIA
                            - JAPAO
                            - KENIA
                            - KYRGYZSTAN
                            - CAMBOJA
                            - KIRIBATI
                            - ILHAS_COMORES
                            - SAO_CRISTOVAO_E_NEVIS
                            - COREIA_DO_NORTE
                            - COREIA_DO_SUL
                            - KUAIT
                            - ILHAS_CAYMAN
                            - CAZAQUISTAO
                            - LAOS
                            - LIBANO
                            - SANTA_LUCIA
                            - LIECHTENSTEIN
                            - SRI_LANKA
                            - LIBERIA
                            - LESOTO
                            - LITUANIA
                            - LUXEMBURGO
                            - LATVIA
                            - LIBIA
                            - MARROCOS
                            - MONACO
                            - MOLDOVA
                            - MONTENEGRO
                            - SAO_MARTIM
                            - MADAGASCAR
                            - ILHAS_MARSHALL
                            - MACEDONIA_REPUBLICA_YUGOSLAVA
                            - MALI
                            - MYANMA_EX_BURMA
                            - MONGOLIA
                            - MACAU
                            - ILHAS_MARIANAS_DO_NORTE
                            - MARTINICA
                            - MAURITANIA
                            - MONTSERRAT
                            - MALTA
                            - MAURICIO
                            - MALDIVAS
                            - MALAUI
                            - MEXICO
                            - MALASIA
                            - MOCAMBIQUE
                            - NAMIBIA
                            - NOVA_CALEDONIA
                            - NIGER
                            - ILHAS_NORFOLK
                            - NIGERIA
                            - NICARAGUA
                            - HOLANDA
                            - NORUEGA
                            - NEPAL
                            - NAURU
                            - NIUE
                            - NOVA_ZELANDIA
                            - OMA
                            - PANAMA
                            - PERU
                            - POLINESIA_FRANCESA
                            - PAPUA_NOVA_GUINE
                            - FILIPINAS
                            - PAQUISTAO
                            - POLONIA
                            - ST_PIERRE_AND_MIQUELON
                            - ILHA_PITCAIRN
                            - PORTO_RICO
                            - TERRITORIOS_PALESTINOS_OCUPADOS
                            - PORTUGAL
                            - PALAU
                            - PARAGUAI
                            - QATAR
                            - ILHA_REUNIAO
                            - ROMENIA
                            - SERVIA
                            - FEDERACAO_RUSSA
                            - RUANDA
                            - ARABIA_SAUDITA
                            - ILHAS_SOLOMAO
                            - ILHAS_SEYCHELLES
                            - SUDAO
                            - SUECIA
                            - CINGAPURA
                            - SANTA_HELENA
                            - ESLOVENIA
                            - ILHAS_SVALBARD_E_JAN_MAYEN
                            - ESLOVAQUIA
                            - SERRA_LEOA
                            - SAN_MARINO
                            - SENEGAL
                            - SOMALIA
                            - SURINAME
                            - SUDAO_DO_SUL
                            - SAO_TOME_E_PRINCIPE
                            - EL_SALVADOR
                            - SAO_MARTINHO_PARTE_HOLANDESA
                            - SIRIA
                            - SUAZILANDIA
                            - ILHAS_TURKS_E_CAICOS
                            - CHADE
                            - TERRITORIOS_DO_SUL_DA_FRANCA
                            - TOGO
                            - TAILANDIA
                            - TADJIQUISTAO
                            - ILHAS_TOKELAU
                            - TIMOR_LESTE_EX_EAST_TIMOR
                            - TURCOMENISTAO
                            - TUNISIA
                            - TONGA
                            - TURQUIA
                            - TRINIDAD_AND_TOBAGO
                            - TUVALU
                            - TAIWAN
                            - TANZANIA
                            - UCRANIA
                            - UGANDA
                            - ILHAS_MENORES_DOS_ESTADOS_UNIDOS
                            - ESTADOS_UNIDOS
                            - URUGUAI
                            - UZBEQUISTAO
                            - VATICANO
                            - SAINT_VINCENTE_E_GRANADINAS
                            - VENEZUELA
                            - ILHAS_VIRGENS_INGLATERRA
                            - ILHAS_VIRGENS_ESTADOS_UNIDOS
                            - VIETNAM
                            - VANUATU
                            - ILHAS_WALLIS_E_FUTUNA
                            - SAMOA_OCIDENTAL
                            - IEMEN
                            - MAYOTTE
                            - AFRICA_DO_SUL
                            - ZAMBIA
                            - ZIMBABUE
                    countryCode:
                        type: string
                        maxLength: 3
                        example: BRA
                        description: Código do país de acordo com o código “alpha3” do ISO-3166. p.ex.'BRA'
                    geographicCoordinates:
                        $ref: '#/components/schemas/ReferencedNetworkGeographicCoordinates'
        ReferencedNetworkGeographicCoordinates:
            type: object
            properties:
                latitude:
                    type: string
                    maxLength: 11
                    description: Informação da Latitude referente a geolocalização informada. Entre -90 e 90. Formato numérico 2 casas antes da vírgula, 11 posições. p.ex. '-89.8365180'
                    example: -89.836518
                longitude:
                    type: string
                    maxLength: 11
                    description: Informação da Longitude referente a geolocalização informada. Formato numérico 3 casas antes da vírgula, 11 posições. Entre -180 e 180. p.ex'-179.836519.'
                    example: -179.836519
        ReferencedNetworkAccess:
            type: array
            items:
                type: object
                description: Forma de acesso.
                properties:
                    standards:
                        $ref: '#/components/schemas/ReferencedNetworkStandards'
                    restrictionIndicator:
                        type: boolean
                        description: Indica se a instalação dos Prestadores de serviços tem acesso restrito a clientes, por exemplo. p.ex. 'false' (restrito)
                        example: false
                    phones:
                        $ref: '#/components/schemas/ReferencedNetworkPhones'
        ReferencedNetworkStandards:
            type: array
            items:
                properties:
                    openingTime:
                        type: string
                        maxLength: 9
                        pattern: ^\d{2}:\d{2}:\d{2}Z$
                        example: 10:00:57Z
                        description: Horário de abertura
                    closingTime:
                        type: string
                        maxLength: 9
                        pattern: ^\d{2}:\d{2}:\d{2}Z$
                        example: 16:00:57Z
                        description: Horário de encerramento
                    weekday:
                        type: string
                        maxLength: 13
                        description: Dias de funcionamento
                        enum:
                            - DOMINGO
                            - SEGUNDA_FEIRA
                            - TERCA_FEIRA
                            - QUARTA_FEIRA
                            - QUINTA_FEIRA
                            - SEXTA_FEIRA
                            - SABADO
                        example: DOMINGO
        ReferencedNetworkPhones:
            type: array
            description: Telefone do intermediário
            items:
                type: object
                properties:
                    type:
                        description: Identificação do Tipo de telefone do intermediário
                        type: string
                        maxLength: 50
                        example: FIXO
                    countryCallingCode:
                        description: Número de DDI (Discagem Direta Internacional) para telefone de acesso ao Canal - se houver.
                        type: string
                        maxLength: 3
                        example: 55
                    areaCode:
                        description: Número de DDD (Discagem Direta à Distância) do telefone do intermediário - se houver. p.ex. '19'
                        type: string
                        maxLength: 2
                        example: 11
                    number:
                        description: Número de telefone do intermediário - se houver
                        type: string
                        maxLength: 11
                        example: 30041000
        ReferencedNetworkServices:
            type: array
            items:
                description: Forma de acesso.
                required:
                    - type
                    - name
                    - description
                properties:
                    type:
                        description: Relação dos tipos de prestação de serviços efetivamente prestados, conforme discriminado na Tabela XXX do Anexo II
                        type: string
                        maxLength: 27
                        enum:
                            - ASSISTENCIA_AUTO
                            - ASSISTENCIA_RE
                            - ASSISTENCIA_VIDA
                            - BENEFICIOS
                            - DESPACHANTE
                            - LOCACAO_DE_VEICULOS
                            - REPAROS_AUTOMOTIVOS
                            - REPAROS_EMERGENCIAIS
                            - SERVICO_DE_MANUTENCAO
                            - SERVICO_EM_CASO_DE_SINISTRO
                            - TRANSPORTE_DO_EMERGENCIAL
                            - OUTROS
                    typeOthers:
                        description: Descrição de serviços efetuados no tipo de prestação de serviços CASO PREENCHIDO A OPÇÃO OUTRAS. Deve ser padronizada na proposta técnica submetida pela Estrutura Inicial de Governança para observância comum por todas as sociedades participantes
                        type: string
                        maxLength: 3000
                    name:
                        description: Relação dos serviços efetivamente prestados, conforme discriminado na Tabela II.5 do Anexo II
                        type: array
                        items:
                            type: string
                            maxLength: 57
                            enum:
                                - ACIONAMENTO_E_OU_AGENDAMENTO_DE_LEVA_E_TRAZ
                                - AMPARO_DE_CRIANCAS
                                - APLICACAO_DE_VACINAS_EM_DOMICILIO
                                - AQUECEDORES
                                - ASSISTENCIA_A_ELETRODOMESTICOS
                                - ASSISTENCIA_AUTO_E_OU_MOTO
                                - ASSISTENCIA_BIKE
                                - ASSISTENCIA_EM_VIAGEM
                                - ASSISTENCIA_ESCOLAR
                                - ASSISTENCIA_FUNERAL
                                - ASSISTENCIA_FUNERAL_PET
                                - ASSISTENCIA_INFORMATICA
                                - ASSISTENCIA_NUTRICIONAL
                                - ASSISTENCIA_PET
                                - ASSISTENCIA_RESIDENCIAL
                                - ASSISTENCIA_SUSTENTAVEL
                                - ASSISTENCIA_VETERINARIA_EMERGENCIAL
                                - ASSISTENCIAS_SAUDE_E_BEM_ESTAR
                                - BABY_SITTER
                                - CACAMBA
                                - CARRO_RESERVA
                                - CESTA_BASICA
                                - CESTA_DE_ALIMENTOS
                                - CESTA_NATALIDADE
                                - CHAVEIRO
                                - CHECK_UP
                                - COBERTURA_PROVISORIA_DE_TELHADO
                                - CONCIERGE
                                - CONSERTO_DE_AR_CONDICIONADO
                                - CONSERTO_DE_ELETRODOMESTICOS_LINHA_BRANCA
                                - CONSERTO_DE_ELETROELETRONICO_LINHA_MARROM
                                - CONSERTO_DE_PORTA_ONDULADA
                                - CONSULTAS_VETERINARIAS
                                - CONSULTORIA_ORCAMENTARIA
                                - CONVENIENCIA_EM_VIAGEM
                                - DEDETIZACAO
                                - DESATOLAMENTO
                                - DESCARTE_RESPONSAVEL
                                - DESCONTOS_EM_CONSULTAS_E_EXAMES
                                - DESCONTOS_EM_MEDICAMENTOS
                                - DESENTUPIMENTO
                                - DESINSETIZACAO_E_DESRATIZACAO
                                - DESPACHANTE
                                - DESPESAS_FARMACEUTICAS
                                - DESPESAS_MEDICAS_CIRURGICAS_E_DE_HOSPITALIZACAO
                                - DESPESAS_ODONTOLOGICAS
                                - ELETRICISTA
                                - EMERGENCIAS
                                - ENCANADOR
                                - ENVIO_DE_ACOMPANHANTE_EM_CASO_DE_ACIDENTE
                                - ENVIO_DE_FAMILIAR_PARA_ACOMPANHAMENTO_DE_MENORES_DE_ANOS
                                - ENVIO_DE_RACAO
                                - ESCRITORIO_VIRTUAL
                                - GUARDA_DE_ANIMAIS
                                - GUARDA_DO_VEICULO
                                - GUINCHO
                                - HELP_DESK
                                - HIDRAULICA
                                - HOSPEDAGEM
                                - HOSPEDAGEM_DE_ANIMAIS
                                - INDICACAO_DE_BANHO_E_TOSA
                                - INDICACAO_DE_PROFISSIONAIS
                                - INFORMACAO_SOBRE_RACAS_DE_CAES
                                - INFORMACAO_SOBRE_VENDA_DE_FILHOTES
                                - INFORMACOES_SOBRE_VACINAS
                                - INFORMACOES_VETERINARIAS_UTEIS
                                - INSTALACAO_RESIDENCIA
                                - INSTALACAO_DE_CHUVEIRO_ELETRICO_E_OU_TROCA_DE_RESISTENCIA
                                - INSTALACAO_DE_SUPORTE_TV_ATE
                                - LIMPEZA
                                - LIMPEZA_DE_AR_CONDICIONADO
                                - LIMPEZA_DE_CAIXA_D_AGUA
                                - LIMPEZA_DE_CALHAS
                                - LIMPEZA_DE_RALOS_E_SIFOES
                                - LOCACAO_DE_ELETRODOMESTICOS
                                - LOCACAO_DE_VEICULOS
                                - LOCALIZACAO_DE_BAGAGEM
                                - MANUTENCAO
                                - MARTELINHO_E_REPARO_RAPIDO
                                - MECANICO
                                - MEIO_DE_TRANSPORTE
                                - MONITORACAO_MEDICA
                                - MOTO
                                - MOTORISTA_AMIGO
                                - MOTORISTA_SUBSTITUTO
                                - MTA_MEIO_DE_TRANSPORTE_ALTERNATIVO
                                - MUDANCA_E_GUARDA_DE_MOVEIS
                                - ORGANIZACAO
                                - ORIENTACAO_EM_CASO_DE_PERDA_DE_DOCUMENTOS
                                - ORIENTACAO_MEDICA
                                - ORIENTACAO_PSICOLOGICA
                                - PERSONAL_FITNESS
                                - REBOQUE
                                - REBOQUE_BIKE
                                - RECUPERACAO_DO_VEICULO
                                - REGRESSO_ANTECIPADO_EM_CASO_DE_FALECIMENTO_DE_PARENTES
                                - REGRESSO_DO_USUARIO_APOS_ALTA_HOSPITALAR
                                - REINSTALACAO_E_REPARO_DO_VENTILADOR_DE_TETO
                                - REMANEJAMENTO_DE_MOVEIS
                                - REMOCAO_HOSPITALAR
                                - REMOCAO_MEDICA
                                - REMOCAO_MEDICA_INTER_HOSPITALAR
                                - REPARACAO_AUTOMOTIVA
                                - REPARO_DE_TELEFONIA
                                - REPARO_EM_PORTOES_AUTOMATICOS
                                - REPARO_FIXACAO_DE_ANTENAS
                                - REPAROS_ELETRICOS
                                - RETORNO_ANTECIPADO_AO_DOMICILIO
                                - REVERSAO_DE_FOGAO
                                - REVISAO_DE_INSTALACAO_ELETRICA
                                - SEGUNDA_OPINIAO_MEDICA_INTERNACIONAL
                                - SEGURANCA
                                - SERRALHEIRO
                                - SERVICO_DE_INDICACAO_MEDICA
                                - SERVICO_DE_LIMPEZA
                                - SERVICOS_AUTO
                                - SERVICOS_ESPECIAIS_FIXACAO_DE_OBJETOS
                                - SERVICOS_GERAIS
                                - SUBSTITUICAO_DE_PNEUS
                                - SUBSTITUICAO_DE_TELHAS
                                - TAXI
                                - TELEMEDICINA
                                - TRANSMISSAO_DE_MENSAGENS_URGENTES
                                - TRANSPORTE_E_ENVIO_DE_FAMILIAR
                                - TRANSPORTE_E_GUARDA_MOVEIS
                                - TRANSPORTE_ESCOLAR_PESSOAS
                                - TRANSPORTE_VETERINARIO_EMERGENCIAL
                                - TRASLADO_DE_CORPO
                                - TROCA_DE_BATERIA
                                - TROCA_DE_PNEUS
                                - VERIFICACAO_DE_POSSIVEIS_VAZAMENTOS
                                - VIGILANCIA_E_SEGURANCA
                                - OUTRAS
                    description:
                        type: string
                        maxLength: 5000
                        description: Campo aberto para detalhamento do tipo de serviço prestado.
        Links:
            type: object
            properties:
                self:
                    type: string
                    description: URL da página atualmente requisitada
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
                first:
                    type: string
                    description: URL da primeira página de registros
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
                prev:
                    type: string
                    description: URL da página anterior de registros
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
                next:
                    type: string
                    description: URL da próxima página de registros
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
                last:
                    type: string
                    description: URL da última página de registros
                    example: https://api.organizacao.com.br/open-insurance/products-services/v1
        Meta:
            type: object
            properties:
                totalRecords:
                    type: integer
                    description: Total de registros encontrados
                    example: 10
                totalPages:
                    type: integer
                    description: Total de páginas para os registros encontrados
                    example: 1
            required:
                - totalRecords
                - totalPages
        ResponseError:
            type: object
            required:
                - errors
            properties:
                errors:
                    type: array
                    minItems: 1
                    maxItems: 13
                    items:
                        type: object
                        required:
                            - code
                            - title
                            - detail
                        properties:
                            code:
                                description: Código de erro específico do endpoint
                                type: string
                                pattern: '[\w\W\s]*'
                                maxLength: 255
                            title:
                                description: Título legível por humanos deste erro específico
                                type: string
                                maxLength: 255
                            detail:
                                description: Descrição legível por humanos deste erro específico
                                type: string
                                maxLength: 2048
                            requestDateTime:
                                description: Data e hora da consulta, conforme especificação RFC-3339, formato UTC.
                                type: string
                                maxLength: 2048
                                format: date-time
                                example: '2021-08-20T08:30:00Z'
                        additionalProperties: false
                meta:
                    $ref: '#/components/schemas/Meta'
            additionalProperties: false
    parameters:
        page:
            name: page
            in: query
            description: Número da página que está sendo requisitada (o valor da primeira página é 1).
            schema:
                type: integer
                default: 1
                minimum: 1
        pageSize:
            name: page-size
            in: query
            description: Quantidade total de registros por páginas.
            schema:
                type: integer
                default: 10
                minimum: 1
        serviceType:
            name: serviceType
            in: path
            description: Listagem de tipos que deve ser padronizada na proposta técnica submetida pela Estrutura Inicial de Governança para observância comum por todas as sociedades participantes
            required: true
            schema:
                type: string
        countrySubDivision:
            name: countrySubDivision
            in: path
            description: Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado
            required: true
            schema:
                type: string
        cache-Control:
            name: cache-control
            in: header
            description: Controle de cache para evitar que informações confidenciais sejam armazenadas em cache.
            required: true
            schema:
                type: string
                pattern: '[\w\W\s]*'
        content-Security-Policy:
            name: Content-Security-Policy
            in: header
            description: Campo para proteção contra ataques clickjack do estilo - drag and drop.
            schema:
                type: string
                pattern: '[\w\W\s]*'
        content-Type:
            name: content-Type
            in: header
            description: Especificar o tipo de conteúdo da resposta.
            schema:
                type: string
                pattern: '[\w\W\s]*'
        strict-Transport-Security:
            name: Strict-Transport-Security
            in: header
            description: Campo para exigir conexões por HTTPS e proteger contra certificados falsificados.
            schema:
                type: string
                pattern: '[\w\W\s]*'
        x-Content-Type-Options:
            name: X-Content-Type-Options
            in: header
            description: Campo para evitar que navegadores executem a detecção de MIME e interpretem respostas como HTML de forma inadequada.
            schema:
                type: string
                pattern: '[\w\W\s]*'
        x-Frame-Options:
            name: X-Frame-Options
            in: header
            description: Campo indica se o navegador deve ou não renderizar um frame.
            schema:
                type: string
                pattern: '[\w\W\s]*'
    securitySchemes:
        OpenId:
            type: openIdConnect
            openIdConnectUrl: https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration
        OAuth2Security:
            type: oauth2
            description: Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Inclui o processo de redirecionamento e autenticação do usuário a que se referem os dados.
            flows:
                authorizationCode:
                    authorizationUrl: https://authserver.example/authorization
                    tokenUrl: https://authserver.example/token
                    scopes:
                        financings: Escopo necessário para acesso à API. O controle dos endpoints específicos é feito via permissions.
    responses:
        NoContent:
            description: O recurso solicitado não existe ou não foi localizado.
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        BadRequest:
            description: A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        Forbidden:
            description: O token tem escopo incorreto ou uma política de segurança foi violada
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        InternalServerError:
            description: Ocorreu um erro no gateway da API ou no microsserviço
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        MethodNotAllowed:
            description: O consumidor tentou acessar o recurso com um método não suportado
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        NotAcceptable:
            description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        NotFound:
            description: O recurso solicitado não existe ou não foi implementado
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        TooManyRequests:
            description: A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
        Unauthorized:
            description: Cabeçalho de autenticação ausente/inválido ou token inválido
            content:
                application/json; charset=utf-8:
                    schema:
                        $ref: '#/components/schemas/ResponseError'
